<main class="h-100 d-flex flex-column justify-content-center">
  <div class="rounded shadow text-center card max-h-75 mt-5" id="employees-list">
    <div
      class="card-header d-flex justify-content-between justify-content-sm-between align-items-center"
    >
      <h1 class="mb-0 text-dark fs-3">{{ selectedPosition.position_title }}S</h1>
    </div>
    <div class="card-body position-relative i-flow">
      <div class="position-cont" *ngIf="this.selectedPosition.employees.length > 0; else emptyMessage">
        <mat-card class="d-flex flex-row justify-content-between mb-4 p-4" *ngFor="let employee of this.selectedPosition.employees">
          <div class="employee-info">
            <div>
              <i class="fa-solid fa-user"></i>
              <p>{{employee.user.name}} {{employee.user.last_name}}</p>
            </div>
            <p><b>Position:</b> {{selectedPosition.position_title}}</p>
          </div>
          <a class="rate-link" routerLink="/client/ratings/{{employee.user.id}}/">See To Do</a>
        </mat-card>
      </div>

      <ng-template #emptyMessage class="text-center mt-8">
        There are no employees with this position yet.
      </ng-template>
    </div>
  </div>
</main>