#employees-list {
    max-height: 75%;
}
.position-cont > mat-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.position-cont mat-card .employee-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.position-cont mat-card .employee-info > div > * {
    display: inline;
}
.position-cont mat-card .employee-info > div > i {
    color: #92b46c;
    margin-right: .5rem;
}
.position-cont mat-card .employee-info p {
    margin: 0;
}
.position-cont mat-card .employee-info p b {
    font-weight: bold;
}
#employees-list > div.card-body > div > mat-card > a {
    text-decoration: underline!important;
}
