#mobile-chat-container {
    height: calc(90vh - 50px);
    width: 100%;
}
#contacts-container, #conversations-container, #groups-container, #messages-container {
    display: block;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    overflow-y: auto;
    scrollbar-width: thin;
    position: relative;
}
::ng-deep .cc-conversations,
::ng-deep .cc-groups {
    border: none!important;
}
::ng-deep .cc-contacts__wrapper,
::ng-deep .cc-details {
    padding: 0!important;
}
::ng-deep .list__header,
::ng-deep .cc-contacts-title,
::ng-deep .cc-close-button {
    display: none!important;
}
#conversations-container {
    cometchat-conversations {
        max-height: 100%;
    }

    #new-conversation-bubble {
        position: sticky;
        bottom: 1rem;
        right: 1rem;
        z-index: 1;
        margin: -56px 0 0 auto;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--mat-sys-primary);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        i-tabler {
            color: white;
        }
    }
}
.tab-btn {
    background: --var(--mat-sys-surface);
    .active {
        border-bottom: 3px solid --var(--mat-sys-primary);
    }
}