<div id="mobile-chat-container" class="d-flex flex-column p-16">
    @switch(currentTab.component) {
        @case('chats') {
            <!-- HEADER -->
            <header>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center gap-8">
                        <cometchat-avatar
                            [image]="profilePic"
                            [avatarStyle]="avatarStyle"
                        ></cometchat-avatar>
                        <h4>{{ getCurrentTab()?.label }}</h4>
                    </div>
                    <div>
                        <!-- filter icon button -->
                        <!-- <button 
                            mat-icon-button 
                            matPrefix
                            class="filter-btn"
                            matTooltip="Filter conversations"
                        >
                            <i-tabler name="filter" class="icon"></i-tabler>
                        </button> -->
                        <!-- <button
                            primary
                            mat-icon-button
                            matSuffix
                            matTooltip="Meet"
                        >
                            <i-tabler name="video" class="icon"></i-tabler>
                            Meet
                        </button> -->
                    </div>
                </div>
                <div class="m-t-16">
                    <mat-form-field appearance="outline" class="w-100">
                        <!-- TODO: Develop search functionality -->
                        <mat-label>Search conversations</mat-label>
                        <input matInput type="text" placeholder="Search" [value]="searchText" #searchInput (input)="searchText = searchInput.value" />
                        <button 
                            mat-icon-button 
                            matSuffix
                            class="search-btn"
                            [disabled]="!searchText.trim() && searchText.length === 0"
                            (click)="searchConversations()"
                            matTooltip="Search conversations"
                        >
                            <i-tabler name="search" class="icon"></i-tabler>
                        </button>
                    </mat-form-field>
                </div>
            </header>
            <!-- CONVERSATIONS -->
            <div id="conversations-container">
                <!-- ESSENTIAL AND PROFESSIONAL PLAN CONVERSATIONS -->
                <!-- TODO: Hide header -->
                <cometchat-conversations 
                    *ngIf="plan && plan.id != 1"
                    id="cc-conversations"
                    [onItemClick]="onConversationsItemClick"
                ></cometchat-conversations>

                <!-- NEW CONVERSATION BUBBLE -->
                <div id="new-conversation-bubble" (click)="currentTab = tabs[2]">
                    <i-tabler name="message-plus" class="icon-20"></i-tabler>
                </div>
            </div>
        }
        @case('groups') {
            <!-- BASIC PLAN -->
            <!-- TODO: Hide header -->
            <cometchat-groups 
                id="groups-container"
                [onItemClick]="onGroupsItemClick"
            ></cometchat-groups>
        }
        @case('contacts') {
            <!-- CONTACTS -->
            <!-- TODO: Hide header -->
            <cometchat-contacts 
                id="contacts-container"
                [usersConfiguration]="StartConversationConfiguration.usersConfiguration"
                [groupsConfiguration]="StartConversationConfiguration.groupsConfiguration"
                [contactsStyle]="StartConversationConfiguration.contactsStyle"
            ></cometchat-contacts>
        }
        @case('messages') {
            <!-- BASIC PLAN MESSAGES -->
            <app-messages 
                *ngIf="(user || group) && plan.id == 1"
                [user]="user"
                [group]="group"
                [messageListConfiguration]="basicMessageListConfiguration"
            ></app-messages>
            <!-- ESSENTIAL PLAN MESSAGES -->
            <app-messages 
                *ngIf="(user || group) && plan.id == 2"
                [user]="user"
                [group]="group"
                [messageListConfiguration]="essentialMessageListConfiguration"
            ></app-messages>
            <!-- PROFESSIONAL PLAN MESSAGES -->
            <app-messages 
                *ngIf="(user || group) && ((plan.id === 3) || (userRole === '1' || userRole === '4'))"
                [user]="user"
                [group]="group"
                [messageListConfiguration]="professionalMessageListConfiguration"
            ></app-messages>
        }
    }
    <!-- FOOTER -->
    <footer class="p-t-16">
        <div class="d-flex justify-content-around align-items-center">
            <button
                *ngFor="let tab of tabs" 
                class="text-center cursor-pointer" 
                [ngClass]="{'active': tab === currentTab}" 
                (click)="currentTab = tab"
                [disabled]="tab.component === 'chats' && plan.id == 1"
                [hidden]="tab.component === 'messages'"
            >
                <i-tabler 
                    [name]="tab.icon" 
                    class="icon-20"
                ></i-tabler>
                <p class="f-s-12">{{ tab.label }}</p>
            </button>
        </div>
    </footer>
</div>