<h2 mat-dialog-title>Confirmation</h2>
<mat-dialog-content>
  Are you sure you want to {{data.action ? data.action : 'Delete'}} this {{data.subject}}?
  <mat-error>{{ data.message ? data.message : '' }}</mat-error>
</mat-dialog-content>
<mat-dialog-actions class="d-flex flex-end">
  <button
    mat-flat-button
    color="primary"
    [mat-dialog-close]="true"
  >
    Yes
  </button>
  <button 
    mat-button 
    [mat-dialog-close]="false"
    class="bg-error text-white"
  >
    No
  </button>
</mat-dialog-actions>
