<mat-card class="cardWithShadow h-100">
  <mat-card-header>
    <div class="d-flex align-items-center justify-content-between w-100">
      <mat-card-title>My Team</mat-card-title>
      <button mat-icon-button color="inherit">
        <mat-icon
          class="f-s-24 d-flex align-items-center justify-content-center"
          >more_vert</mat-icon
        >
      </button>
    </div>
  </mat-card-header>
  <mat-card-content class="p-t-30">
    <div class="table-responsive">
      <app-employee-table [displayedColumns]="customColumns"></app-employee-table>
    </div>
  </mat-card-content>
</mat-card>
