.status-icon {
  height: 100% !important;
  width: 100%;
}
.check-icon {
  color: #92b46c;
}
.fade-out {
  animation: statusIcon 3s ease;
  opacity: 0;
  visibility: hidden;
}
@keyframes statusIcon {
  0%,
  60% {
    opacity: 1;
    visibility: visible;
  }
  80% {
    opacity: 0;
  }
}
