@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap");

// font
$font-family: "Plus Jakarta Sans", sans-serif;

// light color variable

// Sidenav
$sidenav-desktop: 270px !default;
$sidenav-mini: 80px !default;
$header-height: 70px !default;

//BorderColor
$borderColor: var(--mat-sys-outline-variant);
$borderformColor: var(--mat-sys-outline-variant);

// custom
$primary: var(--mat-sys-primary); 
$secondary: var(--mat-sys-secondary);
$accent: var(--mat-sys-secondary);
$error: var(--mat-sys-error);
$warning: #f8c076;
$success: #4bd08b;
$white: #ffffff;

$light: var(--mat-sys-surface-bright);
$light-primary: var(--mat-sys-primary-fixed-dim);
$light-secondary: var(--mat-sys-secondary-fixed-dim);
$light-accent: var(--mat-sys-secondary-fixed-dim);
$light-error: var(--mat-sys-error-fixed-dim);
$light-warning: rgba(248, 192, 118, 0.15);
$light-success: rgba(75, 208, 139, 0.15);

// Landing Page colors
$hero-gradient: linear-gradient(90deg, #A6D175 0%, #BBED5A 100%);
$hero-gradient-hover: #B7DF68;
$primary-landing: #B7DF68;
$primary-hover: #A6D175;
$secondary-landing: #fff;
$secondary-hover: #1A1B1F33;
$terciary: #1A1B1F33;
$terciary-hover: #7E8795;
$black-shark: #1A1B1F;
$strong-gray: #656E7C;
$soft-gray: #E5E7E9; 

// layout
$boxedWidth: 1200px;
$border-radius: 18px;
$layout-padding: 20px;

$card-spacer: 30px;

$text-color: var(--mat-sys-on-background);

$dark-text-secondary: rgba(255, 255, 255, 0.67);
$dark-body-bg: #141a21;
