<h2 mat-dialog-title>{{ action == 'edit' ? 'Edit' : 'Add new' }} Candidate</h2>
<mat-dialog-content>
  <form [formGroup]="candidateForm">
    <div class="row">
      <ng-container *ngIf="mode === 'full'">
        <div class="col-12 m-t-5">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" />
            <mat-error *ngIf="candidateForm.get('name')?.invalid"
              >Name is required</mat-error
            >
          </mat-form-field>
        </div>
        <div class="col-12 mb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" />
            <mat-error *ngIf="candidateForm.get('email')?.invalid"
              >Please enter a valid email</mat-error
            >
          </mat-form-field>
        </div>
        <div class="col-12 mb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Skills</mat-label>
            <textarea matInput formControlName="skills"></textarea>
            <mat-error *ngIf="candidateForm.get('skills')?.invalid"
              >Skills are required</mat-error
            >
          </mat-form-field>
        </div>
        <div class="col-12 col-md-6 mb-3">
          <mat-label>English Level</mat-label>
          <mat-slider [style.width]="'calc(100% - 1rem)'" min="1" max="10" step="0.1" discrete>
            <input matSliderThumb formControlName="english_level" />
          </mat-slider>
          <div class="m-t-4">
            {{ formatEnglishLevelDisplay(candidateForm.get('english_level')?.value) }}
          </div>
          <mat-error *ngIf="candidateForm.get('english_level')?.invalid"
            >English level is required</mat-error
          >
        </div>
        <div class="col-12 col-md-6 mb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Current Position</mat-label>
            <input matInput formControlName="current_position" />
          </mat-form-field>
        </div>
        <div class="col-12 mb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Vacancy</mat-label>
            <mat-select formControlName="position_id">
              <mat-option
                *ngFor="let position of positions"
                [value]="position.id"
                >{{ position.title }}</mat-option
              >
            </mat-select>
            <mat-error *ngIf="candidateForm.get('position_id')?.invalid"
              >Position is required</mat-error
            >
          </mat-form-field>
        </div>
        <div class="col-12 mb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Location</mat-label>
            <mat-select formControlName="location_id">
              <mat-option
                *ngFor="let location of locations"
                [value]="location.id"
                >{{ location.city }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12 mb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
          </mat-form-field>
        </div>
        <div class="col-12 mb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Talent Match Profile Summary</mat-label>
            <textarea
              matInput
              formControlName="talent_match_profile_summary"
            ></textarea>
          </mat-form-field>
        </div>
        <div class="col-12 mb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Hobbies</mat-label>
            <input matInput formControlName="hobbies" />
          </mat-form-field>
        </div>
        <div class="col-12 mb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Work Experience</mat-label>
            <textarea
              matInput
              formControlName="work_experience"
              rows="3"
              placeholder="Describe the applicant work experience"
            ></textarea>
            <mat-error
              *ngIf="candidateForm.get('work_experience')?.hasError('maxlength')"
            >
              Text is too long. Please reduce your description from
              {{ candidateForm.get("work_experience")?.value.length }}
              to 1000 characters.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-12 mb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Education History</mat-label>
            <input matInput formControlName="education_history" />
          </mat-form-field>
        </div>
        <div class="col-12 mb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Ranking</mat-label>
            <input matInput formControlName="ranking" />
          </mat-form-field>
        </div>
        <div class="col-12 mb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Profile Observation</mat-label>
            <textarea matInput formControlName="profile_observation"></textarea>
          </mat-form-field>
        </div>
        <div class="col-12 mb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Interview Link</mat-label>
            <input matInput formControlName="interview_link" />
          </mat-form-field>
        </div>
        <div class="col-12 mb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Inimble Academy</mat-label>
            <input matInput formControlName="inimble_academy" />
          </mat-form-field>
        </div>
        <!-- Availability checkbox input -->
        <div class="col-12 m-b-16">
          <mat-checkbox formControlName="availability"
            >Currently available</mat-checkbox
          >
        </div>
        <!-- Update Match Scores Button -->
        <div class="col-12 mb-3" *ngIf="data.candidate && data.candidate.id">
          <button
            mat-raised-button
            type="button"
            style="
              background-color: #92b46c;
              color: #fff;
              margin-right: 8px;
              margin-bottom: 8px;
            "
            (click)="openMatchScoreModal()"
          >
            <mat-icon>score</mat-icon>
            Negotiator Profile
          </button>
        </div>
      </ng-container>
      <!-- CV Upload -->
      <div class="col-12 mb-3">
        <!-- <label>CV (PDF, max 1MB)</label> -->
        <input
          #cvInput
          type="file"
          accept="application/pdf"
          (change)="onCVSelected($event)"
          [required]="!data.candidate"
          style="display: none"
        />
        <button
          mat-raised-button
          type="button"
          style="
            background-color: #92b46c;
            color: #fff;
            margin-right: 8px;
            margin-bottom: 8px;
          "
          (click)="cvInput.click()"
        >
          <mat-icon>upload</mat-icon>
          Upload CV
        </button>
        <span *ngIf="selectedCVFile">{{ selectedCVFile.name }}</span>
        <small *ngIf="!selectedCVFile && !data.candidate" class="text-danger"
          >CV is required</small
        >
      </div>

      <!-- Profile Picture Upload -->
      <div class="col-12 mb-3">
        <!-- <label>Profile Picture (JPG, max 1MB, optional)</label> -->
        <input
          #picInput
          type="file"
          accept="image/jpeg"
          (change)="onProfilePicSelected($event)"
          style="display: none"
        />
        <button
          mat-raised-button
          type="button"
          style="background-color: #92b46c; color: #fff"
          (click)="picInput.click()"
        >
          <mat-icon>upload</mat-icon>
          Upload Picture
        </button>
        <span *ngIf="selectedProfilePicFile">{{
          selectedProfilePicFile.name
        }}</span>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    mat-flat-button
    color="primary"
    (click)="onSubmit()"
    [disabled]="!isCreationAllowed"
  >
    Save
  </button>
  <button mat-button (click)="onCancel()" class="bg-error text-white">
    Cancel
  </button>
</mat-dialog-actions>