<div class="d-flex flex-wrap align-items-center gap-1 mx-1">
  <div class="form-group" *ngIf="role !== '2'">
    <select
      [(ngModel)]="select"
      class="form-select py-1"
      (change)="selectUserId($event)"
    >
      <option value="" disabled>
        Select a {{ byClient ? "company" : "user" }}
      </option>
      <option value="0" *ngIf="!byClient">All users</option>
      <option *ngFor="let user of users" [value]="user.id">
        {{ handleDisplay(user) }}
      </option>
    </select>
  </div>
  <div class="form-check mx-2" *ngIf="role == '1'">
    <input
      type="checkbox"
      name="client"
      id="client"
      class="form-check-input rounded-1"
      (change)="toggleCheck()"
    />
    <label for="client" class="form-check-label">By clients?</label>
  </div>
  <div class="form-group">
    <select
      [(ngModel)]="selectProject"
      class="form-select py-1"
      (change)="selectProjectId($event)"
    >
      <option value="-1" disabled>
        {{ selected ? "By project" : "-must select a " + type + "-" }}
      </option>
      <option value="0" *ngIf="selected">All projects</option>
      <ng-container *ngIf="selected"
        ><option *ngFor="let project of projectsList" [value]="project.id">
          {{ project.name }}
        </option></ng-container
      >
    </select>
  </div>
</div>
