<table mat-table [dataSource]="dataSourceTable" class="w-100">
          
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef class="p-l-0">
                <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()" color="primary"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row" class="p-l-0">
                <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="selection.toggle(row)" color="primary"
                    [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Name</th>
            <td mat-cell *matCellDef="let element">
              <div class="d-flex align-items-center gap-16">
                <img
                  [src]="element.profile.imagePath || element.profile.image || 'assets/images/default-user-profile-pic.png'"
                  class="rounded-circle"
                  width="45"
                  height="45"
                  style="object-fit: cover; aspect-ratio: 1 / 1;"
                />
                <div>
                  <a
                    class="text-decoration-none"
                    (click)="setUser(element)"
                    [routerLink]="['/apps/employee']"
                  >
                    <h6 class="f-w-600 f-s-16 m-t-0">
                      {{ element.profile.name }} {{ element.profile.last_name }}
                    </h6>
                  </a>
                </div>
              </div>
            </td>
          </ng-container>

           <ng-container matColumnDef="nameUser">
                <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Name</th>
                <td mat-cell *matCellDef="let element">
                <div class="d-flex align-items-center gap-16">
                    <img
                        class="rounded-circle"
                        [src]="element.profile.imagePath || element.profile.image || 'assets/images/default-user-profile-pic.png'"
                        width="45"
                        height="45"
                        style="object-fit: cover; aspect-ratio: 1 / 1;"
                    />
                    <div>
                      <h6 class="f-w-600 f-s-16 m-t-0">
                       {{ element.profile.name }} {{ element.profile.last_name }}
                      </h6>
                    </div>
                </div>
                </td>
            </ng-container>
  
          <ng-container matColumnDef="schedule">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
              Schedule
            </th>
            <td mat-cell *matCellDef="let element" class="f-s-14">
              {{ element.schedule }}
            </td>
          </ng-container>
  
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600 text-center">
              Status
            </th>
            <td mat-cell *matCellDef="let element" class="f-s-14">
              <app-timer [userId]="element.profile.id" [timeZone]="companyTimezone"></app-timer>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="reports">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
              Reports
            </th>
            <td mat-cell *matCellDef="let element" class="f-s-14">
              <button
                mat-icon-button
                (click)="downloadReport(element)"
                title="Download Report"
              >
                <i-tabler name="download" class="icon-18"></i-tabler>
              </button>
              
            </td>
          </ng-container>
  
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
              Action
            </th>
            <td mat-cell *matCellDef="let element" class="action-link">
              <button mat-icon-button [matMenuTriggerFor]="actionsMenu" class="m-l-10">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #actionsMenu="matMenu">
                <button
                  mat-menu-item
                  (click)="openDialog('Update', element)"
                >
                  <mat-icon>edit</mat-icon>
                  <span>Edit team member</span>
                </button>
                <button
                  mat-menu-item
                  (click)="openDialog('Delete', element)"
                >
                  <mat-icon>delete</mat-icon>
                  <span>Delete team member</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <!-- Profile Column -->
          <ng-container matColumnDef="profile">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16">
              Team Member
            </th>
            <td mat-cell *matCellDef="let element">
              <div class="d-flex align-items-center">
                <img
                  [src]="
                    element.profile.image ||
                    'assets/images/default-user-profile-pic.png'
                  "
                  alt="users"
                  width="50"
                  height="50"
                  class="rounded-circle"
                  style="object-fit: cover; aspect-ratio: 1 / 1;"
                />
                <div class="m-l-16">
                  <h6 class="text-truncate-2 f-s-14 f-w-600">
                    {{ element.profile.name }}
                  </h6>
                  <span class="f-s-14">{{ element.profile.position }}</span>
                </div>
              </div>
            </td>
          </ng-container>

          <!-- Worked Hours Column -->
          <ng-container matColumnDef="workedHours">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16">
              Worked Hours
            </th>
            <td mat-cell *matCellDef="let element">{{ element.workedHours }}</td>
          </ng-container>

           <!-- Completed task Column -->
          <ng-container matColumnDef="completedTasks">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16">
              Completed
            </th>
            <td mat-cell *matCellDef="let element">
              <span>{{ element.completed }}</span>
            </td>
          </ng-container>

          <!-- Total Column -->
          <ng-container matColumnDef="totalTasks">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16">
              Total
            </th>
            <td mat-cell *matCellDef="let element">
              <span>{{ element.totalTasks }}</span>
            </td>
          </ng-container>

          <!-- Productivity Percentage Column -->
          <ng-container matColumnDef="productivityPercentage">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16">
              Productivity percentage
            </th>
            <td mat-cell *matCellDef="let element">
              <span class="f-w-600">
                {{ element.productivityPercentage | number: '1.2-2' }}%
              </span>
            </td>
          </ng-container>

            <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Role</th>
                <td mat-cell *matCellDef="let element">
                <div>
                    <span class="f-s-14">{{ element.role }}</span>
                </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Email</th>
                <td mat-cell *matCellDef="let element">
                <div>
                    <span class="f-s-14">{{ element.email }}</span>
                </div>
                </td>
            </ng-container>
          <!-- Pending Column -->
          <ng-container matColumnDef="pendingTasks">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16">
              Pending
            </th>
            <td mat-cell *matCellDef="let element">
              <span class="f-w-600">
                {{ element.pendingTasks }}
              </span>
            </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <div *ngIf="dataSourceTable?.data?.length === 0 && loaded" class="text-center p-4 f-s-16 text-muted">
          No employees found.
        </div>
        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
          [length]="dataSourceTable.data.length"
          [pageSize]="5">
        ></mat-paginator>