<mat-dialog-content>
  <div class="d-flex justify-content-between">
    <h2 mat-dialog-title class="p-0">New job application!</h2>
    
    <mat-dialog-actions class="d-flex flex-end">
      <button
        mat-button
        class="ms-2 rounded shadow px-4 py-1 btn btn-danger"
        [mat-dialog-close]="false"
      >
        <i class="fa-solid fa-xmark"></i>
      </button>
    </mat-dialog-actions>
  </div>
  
  <p *ngIf="loaded">
    Check the details of the job application below:
  </p>
  <mat-error>{{ data.message ? data.message : '' }}</mat-error>

    <iframe 
      *ngIf="fileExtension == 'pdf' && loaded && sanitizedFileUrl" 
      [src]="sanitizedFileUrl" 
      width="100%" 
      height="600px" 
      style="border: 1px solid #ccc;"
    >
    </iframe>
    <ng-template #noResume>
      <p>Resume not available</p>
    </ng-template>
</mat-dialog-content>
