.fullwidth {
  width: 100%;
}
#create-group-button {
  width: max-content;
}
#company-select {
  max-width: 275px
}
#chat-container {
  height: 75vh;
  width: 100%;
}
.cta-message {
  font-size: 14px;
  color: #666;
  text-align: center;
  margin-top: 20px;
}
.communication-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  height: 100vh;

  .header-container {
    display: flex;
    justify-content: space-between; /* Alinea el título y los botones */
    align-items: center; /* Centra verticalmente */
    margin-bottom: 20px;

    .chat-title {
      font-size: 24px;
      font-weight: bold;
      text-align: left;
      text-transform: none;
    }

    .call-buttons {
      display: flex;
      gap: 10px; /* Espaciado entre los botones */
    }
  }

  .chat-layout {
    display: grid;
    grid-template-columns: 1fr 3fr; /* Tres columnas: grupos, mensajes, usuarios */
    gap: 5px;
    height: calc(100% - 60px); /* Resta el espacio del título */

    .group-chats {
      background-color: #ffffff;
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 10px;
      overflow-y: auto;
      //height: 50%;

      .groups {
        max-height: auto; 
        overflow-y: auto; 
      }

      .separator {
        height: 5px;
        background-color: #ddd;
        margin: 15px 0;
        border-radius: 10px;
      }
    }

    .messages {
      // background-color: #ffffff;
      // border: 1px solid #ddd;
      // border-radius: 8px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      position: relative;
      overflow-y: auto;

      cometchat-message-composer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        // background-color: #ffffff;
        // border-top: 1px solid #ddd;
        padding: 10px;
      }

      cometchat-message-list {
        flex: 1; /* Ocupa el espacio restante */
        margin-bottom: 60px; /* Espacio para el composer */
      }
    }

    h2 {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }
}