<div class="row">
  <div class="col-12">
    <mat-card
      class="mat-card-top cardWithShadow position-relative overflow-hidden p-16"
    >
      <!-- output view -->
      <h4 Ctitle>
        Talent match
        <span class="f-s-14 f-w-400 d-block"
          >select one or more candidate to schedule an interview</span
        >
      </h4>

      <div output>
        <div class="d-flex align-items-center gap-2 m-b-16 m-t-16">
          <mat-form-field
            appearance="outline"
            class="flex-grow-1 hide-hint m-b-0"
          >
            <input
              matInput
              type="text"
              placeholder="Search Candidate"
              (keyup)="applyFilter($event)"
            />
            <mat-icon matSuffix>
              <i-tabler name="search" class="icon-20 d-flex m-t-2"></i-tabler>
            </mat-icon>
          </mat-form-field>
        </div>
        <app-dynamic-table
          [columns]="tableColumns"
          [rows]="rows"
          [currentPage]="currentPage"
          [totalPages]="totalPages"
          [pageSize]="pageSize"
          [sortBy]="sortBy"
          [sortOrder]="sortOrder"
          [emptyMessage]="'No applications available.'"
          [backendMessage]="backendMessage"
          (sortChange)="handleSortChange($event)"
          (pageChange)="handlePageChange($event)"
          (rowAction)="handleRowAction($event)"
        ></app-dynamic-table>
      </div>
    </mat-card>
  </div>
</div>
