table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, tr, td {
    border: none!important;
}

thead {
    background-color: #9CB764; 
    color: #fff;
    border-radius: 6px;
    margin-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    z-index: 1;
}

thead tr th:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
    
thead tr th:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

thead > tr > th {
    text-transform: capitalize;
    font-size: 18px;
}

th, td {
    padding: 10px;
    text-align: center;
}

td {
    color: #808080;
}

tbody tr:first-child {
    margin-top: 2rem;
}

tbody tr:first-child td {
    padding-top: 2rem;
}
tbody tr:nth-child(even) {
    background-color: #fff;
}
tbody tr:nth-child(odd) {
    background-color: #f8f8f8;
}
tbody tr:not(:last-child) {
    border-bottom: 1px solid #bfbfbf!important;
}