<mat-card class="cardWithShadow h-100">
  <mat-card-header>
    <div class="d-flex flex-wrap align-items-center justify-content-start w-100 gap-3">
      <!-- Select a member -->
      <mat-form-field appearance="outline" class="me-3 min-w-200">
        <mat-label>Select a member</mat-label>
        <mat-select
          [(value)]="selectedUserId"
          (selectionChange)="onUserChange($event.value)">
          <mat-option [value]="null">All members</mat-option>
          <mat-option *ngFor="let user of dataSource" [value]="user.profile.id">
            {{ user.profile.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Select a department -->
      <mat-form-field appearance="outline" class="me-3 min-w-200">
        <mat-label>Select a department</mat-label>
        <mat-select
          [(value)]="selectedDepartment"
          (selectionChange)="onDepartmentChange($event.value)">
          <mat-option [value]="null">All departments</mat-option>
          <mat-option *ngFor="let dep of departmentsList" [value]="dep">
            {{ dep }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Select a company (only for role 1) -->
      <div *ngIf="role == '1'">
        <mat-form-field appearance="outline" class="me-3 min-w-200">
          <mat-label>Select a Company</mat-label>
          <mat-select
            [(value)]="selectedClient"
            (selectionChange)="onClientChange($event.value)">
            <mat-option [value]="null" disabled>Select a client</mat-option>
            <mat-option *ngFor="let company of companiesList" [value]="company">
              {{ company.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-card-header>
</mat-card>
