<div class="row" *ngIf="userRole == '3'">
    <div class="col-12">
        <mat-card class="mat-card-top cardWithShadow position-relative overflow-hidden p-16">
            <h4 Ctitle>
                Talent match
                <span class="f-s-14 f-w-400 d-block">select one or more candidates to schedule an interview</span>
            </h4>

            <div class="d-flex justify-content-center aling-items-center m-t-8">
                <img src="assets/images/talent-match.png" alt="Talent Match Logo" height="60" />
            </div>

            <div output>
                    <div class="d-flex align-items-center gap-2 m-b-16 m-t-16">
                        <app-match 
                        appearance="outline" 
                        class="flex-grow-1 hide-hint m-b-0"
                        [loading]="aiLoading"
                        [aiEnabled]="!useManualSearch"
                        [showInterviewButton]="true"
                        [interviewDisabled]="selection.selected.length === 0"
                        (interview)="openDialog('Schedule')"
                        placeholder="What position are you looking for?"
                        (askAI)="searchCandidatesWithAI($event)"
                        (searchChange)="useManualSearch ? onManualSearch($event) : null">
                        </app-match>
                    </div>
                <div *ngIf="aiLoading || aiAnswer" class="mt-16">
                <mat-card color="accent" class="p-16">
                    <div>
                    <ng-container *ngIf="aiLoading; else showTalentAnswer">
                        <div class="d-flex align-items-center gap-8">
                            <img
                            src="assets/icons/ai-loader.gif"
                            alt="AI loading"
                            style="width: 80px; height: 80px;"
                            />
                            <span>Matching with the ideal candidate...</span>
                        </div>
                    </ng-container>
                    <ng-template #showTalentAnswer>
                        <div [innerHTML]="aiAnswer || '' | markdown | linebreak"></div>
                    </ng-template>
                    </div>
                </mat-card>
                </div>
                <div class="table-responsive" *ngIf="hasSearchResults && dataSource?.data && dataSource.data.length > 0">
                    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="w-100">
                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef class="p-l-0">
                                <mat-checkbox (change)="$event ? masterToggleAndSyncSelection() : null"
                                    [checked]="selection.hasValue() && isAllSelected()" color="primary"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                                    [aria-label]="checkboxLabel()">
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let row" class="p-l-0">
                                <mat-checkbox 
                                    (click)="$event.stopPropagation()"
                                    (change)="selection.toggle(row); onRowSelectionChange()" color="primary"
                                    [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)"
                                    *ngIf="!getInterviewDateTime(row.id)"
                                >
                                </mat-checkbox>
                                <mat-checkbox 
                                    [checked]="true"
                                    *ngIf="getInterviewDateTime(row.id)"
                                    [disabled]="true"
                                >
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14 col-2">
                                Name
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="d-flex align-items-center">
                                    <img 
                                        [src]="element.profile_pic_url ? picturesUrl + '/' + element.profile_pic_url : assetsPath"
                                        alt="users" 
                                        width="45"
                                        height="45"
                                        class="rounded-circle"
                                        style="object-fit: cover; aspect-ratio: 1 / 1;"
                                        (error)="handleImageError($event)" />
                                    <div class="m-l-16">
                                        <h6 class="f-s-14 f-w-600 cursor-pointer">
                                            {{ element.name }}
                                        </h6>
                                        <span class="f-s-12 f-w-400 d-block" *ngIf="element.current_position">
                                            {{ element.current_position }}
                                        </span>
                                    </div>
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14 col-2">
                                Position
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <p class="f-s-14 f-s-12 m-0">
                                    {{ getPositionTitle(element.position_id) }}
                                </p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="alignment">
                            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16 col-4">Alignment</th>
                            <td mat-cell *matCellDef="let element">
                                <span class="f-w-600">{{ element.match_percentage || "0" }}% </span> {{ element.position_category }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="experience">
                            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14 col-4">
                                Experience
                            </th>
                            <td mat-cell *matCellDef="let element" class="f-s-14">
                                {{ element.work_experience }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="rate">
                            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">
                                Rate
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <p class="f-s-14 m-0">
                                    <span *ngIf="element.location">
                                        {{ element.location | titlecase }}
                                    </span>
                                </p>
                            </td>
                        </ng-container>


                        <ng-container matColumnDef="expand">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-icon-button (click)="expandedElement = expandedElement === row ? null : row; $event.stopPropagation()">
                            <mat-icon *ngIf="expandedElement !== row">keyboard_arrow_down</mat-icon>
                            <mat-icon *ngIf="expandedElement === row">keyboard_arrow_up</mat-icon>
                            </button>
                        </td>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef class="f-w-600  f-s-14">
                                Actions
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                                <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #actionsMenu="matMenu">
                                    @if(getInterviewDateTime(element.id)) {
                                        <button mat-menu-item (click)="openDialog('Reeschedule', element)">
                                            <mat-icon>edit</mat-icon>
                                            <span>Reeschedule</span>
                                        </button>
                                        <button mat-menu-item (click)="cancelInterview(element.id)">
                                            <mat-icon>delete</mat-icon>
                                            <span>Cancel Interview</span>
                                        </button>
                                    }
                                    @else {
                                        <button mat-menu-item (click)="openDialog('Schedule', element)">
                                            <mat-icon>event</mat-icon>
                                            <span>Schedule</span>
                                        </button>
                                    }
                                    <button mat-menu-item (click)="downloadFile(element.resume_url, element.name); $event.preventDefault()">
                                        <mat-icon>download</mat-icon>
                                        <span>Download Resume</span>
                                    </button>
                                    <button mat-menu-item (click)="deleteApplication(element.id)">
                                        <mat-icon>delete</mat-icon>
                                        <span>Not interested</span>
                                    </button>
                                </mat-menu>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="expandedDetail">
                            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length + 1">
                            <div
                            class="expanded-detail-wrapper"
                            [@detailExpand]="expandedElement === element ? 'expanded' : 'collapsed'"
                            >
                                <div class="expand-wrapper p-16">
                                    <mat-card class="mat-mdc-card mdc-card cardWithShadow overflow-visible">
                                        <div class="row align-items-center g-0">
                                            
                                            <div class="col-12 col-lg-4 d-flex flex-column align-items-center justify-content-center m-b-24 stats-column order-2 order-lg-1 ">
                                            <ng-container *ngFor="let stat of matchStats[element.id]; let i = index">
                                                <ng-container *ngIf="i < 2">
                                                <div class="text-center stat-item mb-16">
                                                    <tabler-icon [name]="stat.icon" class="icon-20 mb-2"></tabler-icon>
                                                    <h6 class="mb-0 f-s-18 f-w-500">{{ stat.value }}%</h6>
                                                    <p class="m-0 f-s-14">{{ stat.label }}</p>
                                                </div>
                                                </ng-container>
                                            </ng-container>
                                            </div>

                                            <div class="col-12 col-lg-4 d-flex flex-column align-items-center order-1 order-lg-2 mb-16 mb-lg-0">
                                            <div class="profile-border-bg rounded-circle d-flex align-items-center justify-content-center" 
                                                style="width: 120px; height: 120px; background: #e0e0e0;">
                                                <div class="profile-border rounded-circle d-flex align-items-center justify-content-center" 
                                                    style="width: 108px; height: 108px; border: 2px solid #ffffff;">
                                                <img 
                                                    [src]="element.profile_pic_url ? picturesUrl + '/' + element.profile_pic_url : assetsPath" 
                                                    alt="users"
                                                    class="profile-pic rounded-circle"
                                                    style="width: 100%; height: 100%; object-fit: cover; aspect-ratio: 1 / 1;"
                                                    (error)="handleImageError($event)">
                                                </div>
                                            </div>
                                            <h4 class="f-s-18 f-w-600 mt-2 text-center">{{ element.name }}</h4>
                                            <p class="m-0 text-center">{{ getPositionTitle(element.position_id) }}</p>
                                            </div>

                                            <div class="col-12 col-lg-4 d-flex flex-column align-items-center justify-content-center m-b-24 stats-column order-3 order-lg-3">
                                            <ng-container *ngFor="let stat of matchStats[element.id]; let i = index">
                                                <ng-container *ngIf="i >= 2">
                                                <div class="text-center stat-item mb-16">
                                                    <tabler-icon [name]="stat.icon" class="icon-20 mb-2"></tabler-icon>
                                                    <h6 class="mb-0 f-s-18 f-w-500">{{ stat.value }}%</h6>
                                                    <p class="m-0 f-s-14">{{ stat.label }}</p>
                                                </div>
                                                </ng-container>
                                            </ng-container>
                                            </div>
                                        </div>
                                    </mat-card>

                                    <mat-card class="mat-mdc-card mdc-card cardWithShadow shadow-none b-1 mt-16">
                                        <mat-card-content class="mat-mdc-card-content">
                                            <h5 class="f-s-21 f-w-600 m-b-16">Resume</h5>
                                            <ng-container *ngIf="element">
                                                <div class="d-flex align-items-center gap-16 m-b-24">
                                                    <i-tabler name="file-description" class="icon-20"></i-tabler>
                                                    <h6 class="f-s-16">
                                                    <strong>Description:</strong> {{ element.description || 'No description' }}
                                                    </h6>
                                                </div>

                                                <div class="d-flex align-items-center gap-16 m-b-24">
                                                    <i-tabler name="text-caption" class="icon-20"></i-tabler>
                                                    <h6 class="f-s-16">
                                                    <strong>Profile observation:</strong> {{ element.profile_observation || 'No observation' }}
                                                    </h6>
                                                </div>
                                                <div class="d-flex align-items-center gap-16 m-b-24">
                                                    <i-tabler name="settings" class="icon-20"></i-tabler>
                                                    <h6 class="f-s-16">
                                                    <strong>Skills:</strong> {{ element.skills || 'No skills listed' }}
                                                    </h6>
                                                </div>
                                                <div class="d-flex align-items-center gap-16">
                                                    <i-tabler name="world" class="icon-20"></i-tabler>
                                                    <h6 class="f-s-16">
                                                    <strong>English level:</strong> {{ element.english_level || 'Not specified' }}
                                                    </h6>
                                                </div>
                                            </ng-container>
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                                </div>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row 
                            *matRowDef="let row; columns: columnsToDisplayWithExpand"
                            (click)="onRowClick(row)"
                            [class.disabled]="getInterviewDateTime(row.id)">
                        </tr>
                        <tr mat-row 
                            *matRowDef="let row; columns: ['expandedDetail']"
                            class="expanded-detail-row"
                            [class.expanded-visible]="expandedElement === row">
                        </tr>
                        <tr *ngIf="dataSource?.data?.length === 0">
                            <td colspan="8">
                                <p>No candidates available.</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </mat-card>
    </div>
</div>