<div class="row" *ngIf="userRole == '3'">
    <div class="col-12">
        <mat-card class="mat-card-top cardWithShadow position-relative overflow-hidden p-16">
            <h4 Ctitle>
                Talent match
                <span class="f-s-14 f-w-400 d-block">select one or more candidates to schedule an interview</span>
            </h4>

            <div class="d-flex justify-content-center aling-items-center m-t-8">
                <img src="assets/images/talent-match.png" alt="Talent Match Logo" height="60" />
            </div>

            <div output>
                    <div class="d-flex align-items-center gap-2 m-b-16 m-t-16">
                        <app-match 
                        appearance="outline" 
                        class="flex-grow-1 hide-hint m-b-0"
                        [loading]="aiLoading"
                        [aiEnabled]="!useManualSearch"
                        [showInterviewButton]="true"
                        [interviewDisabled]="selection.selected.length === 0"
                        (interview)="openDialog('Schedule')"
                        placeholder="What position are you looking for?"
                        (askAI)="searchCandidatesWithAI($event)"
                        (searchChange)="useManualSearch ? onManualSearch($event) : null">
                        </app-match>
                    </div>
                <div *ngIf="aiLoading || aiAnswer" class="mt-16">
                <mat-card color="accent" class="p-16">
                    <div>
                    <ng-container *ngIf="aiLoading; else showTalentAnswer">
                        <div class="d-flex align-items-center gap-8">
                            <img
                            src="assets/icons/ai-loader.gif"
                            alt="AI loading"
                            style="width: 80px; height: 80px;"
                            />
                            <span>Matching with the ideal candidate...</span>
                        </div>
                    </ng-container>
                    <ng-template #showTalentAnswer>
                        <div [innerHTML]="aiAnswer || '' | markdown | linebreak"></div>
                    </ng-template>
                    </div>
                </mat-card>
                </div>
                <div class="table-responsive" *ngIf="hasSearchResults && dataSource?.data && dataSource.data.length > 0">
                    <table mat-table [dataSource]="dataSource" class="w-100">
                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef class="p-l-0">
                                <mat-checkbox (change)="$event ? masterToggleAndSyncSelection() : null"
                                    [checked]="selection.hasValue() && isAllSelected()" color="primary"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                                    [aria-label]="checkboxLabel()">
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let row" class="p-l-0">
                                <mat-checkbox 
                                    (click)="$event.stopPropagation()"
                                    (change)="selection.toggle(row); onRowSelectionChange()" color="primary"
                                    [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)"
                                    *ngIf="!getInterviewDateTime(row.id)"
                                >
                                </mat-checkbox>
                                <mat-checkbox 
                                    [checked]="true"
                                    *ngIf="getInterviewDateTime(row.id)"
                                    [disabled]="true"
                                >
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14 col-3">
                                Name
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="d-flex align-items-center">
                                    <img 
                                        [src]="element.profile_pic_url ? picturesUrl + '/' + element.profile_pic_url : assetsPath"
                                        alt="users" 
                                        width="45"
                                        height="45"
                                        class="rounded-circle"
                                        style="object-fit: cover; aspect-ratio: 1 / 1;"
                                        (error)="handleImageError($event)" />
                                    <div class="m-l-16">
                                        <h6 class=" f-s-14 f-w-600 cursor-pointer" (click)="goToCandidate(element.id, $event)">
                                            {{ element.name }}
                                        </h6>
                                        <span class="f-s-12 f-w-400 d-block" *ngIf="element.current_position">
                                            {{ element.current_position }}
                                        </span>
                                    </div>
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef class="f-w-600  f-s-14 col-2">
                                Position
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <p class="f-s-14 f-s-12 m-0">
                                    {{ getPositionTitle(element.position_id) }}
                                </p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="skills">
                            <th mat-header-cell *matHeaderCellDef class="f-w-600  f-s-14 col-4">
                                Skills
                            </th>
                            <td mat-cell *matCellDef="let element" class="f-s-14">
                                {{ element.skills }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="location">
                            <th mat-header-cell *matHeaderCellDef class="f-w-600  f-s-14">
                                Location
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <p class="f-s-14 m-0">
                                    <span *ngIf="element.location">
                                        {{ element.location | titlecase }}
                                    </span>
                                </p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="interviewing on">
                            <th mat-header-cell *matHeaderCellDef class="f-w-600  f-s-14 col-3">
                                Interviewing on
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{ getInterviewDateTime(element.id) ? (getInterviewDateTime(element.id) | date: 'short')
                                : 'No interview scheduled' }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef class="f-w-600  f-s-14">
                                Actions
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                                <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #actionsMenu="matMenu">
                                    @if(getInterviewDateTime(element.id)) {
                                        <button mat-menu-item (click)="openDialog('Reeschedule', element)">
                                            <mat-icon>edit</mat-icon>
                                            <span>Reeschedule</span>
                                        </button>
                                        <button mat-menu-item (click)="cancelInterview(element.id)">
                                            <mat-icon>delete</mat-icon>
                                            <span>Cancel Interview</span>
                                        </button>
                                    }
                                    @else {
                                        <button mat-menu-item (click)="openDialog('Schedule', element)">
                                            <mat-icon>event</mat-icon>
                                            <span>Schedule</span>
                                        </button>
                                    }
                                    <button mat-menu-item (click)="downloadFile(element.resume_url, element.name); $event.preventDefault()">
                                        <mat-icon>download</mat-icon>
                                        <span>Download Resume</span>
                                    </button>
                                    <button mat-menu-item (click)="deleteApplication(element.id)">
                                        <mat-icon>delete</mat-icon>
                                        <span>Not interested</span>
                                    </button>
                                </mat-menu>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"
                            (click)="onRowClick(row)"
                            [class.disabled]="getInterviewDateTime(row.id)"></tr>
                        <tr *ngIf="dataSource?.data?.length === 0">
                            <td colspan="8">
                                <p>No candidates available.</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </mat-card>
    </div>
</div>