<div class="row" *ngIf="userRole == '3'">
    <div class="col-12">
        <mat-card class="mat-card-top cardWithShadow position-relative overflow-hidden p-16">
            <h4 Ctitle>
                Talent match
                <span class="f-s-14 f-w-400 d-block">select one or more candidate to schedule an interview</span>
            </h4>

            <div output>
                <div class="d-flex align-items-center gap-2 m-b-16 m-t-16">
                    <mat-form-field appearance="outline" class="flex-grow-1 hide-hint m-b-0 m-r-20">
                        <input matInput type="text" placeholder="Search Candidate" [(ngModel)]="searchText"
                            (ngModelChange)="applyFilter()" />
                        <mat-icon matSuffix>
                            <i-tabler name="search" class="icon-20 d-flex m-t-2"></i-tabler>
                        </mat-icon>
                    </mat-form-field>
                    <button mat-flat-button class="m-r-8" [disabled]="selection.selected.length === 0"
                        (click)="openDialog()">
                        Interview
                    </button>
                </div>
                <div class="table-responsive">
                    <table mat-table [dataSource]="dataSource" class="w-100">
                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef class="p-l-0">
                                <mat-checkbox (change)="$event ? masterToggleAndSyncSelection() : null"
                                    [checked]="selection.hasValue() && isAllSelected()" color="primary"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                                    [aria-label]="checkboxLabel()">
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let row" class="p-l-0">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="selection.toggle(row); onRowSelectionChange()" color="primary"
                                    [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef class="f-w-600  f-s-14">
                                Name
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="d-flex align-items-center">
                                    <img [src]="element.profile_pic_url ? picturesUrl + '/' + element.profile_pic_url : assetsPath"
                                        alt="users" width="40" class="rounded-circle" (error)="handleImageError($event)" />
                                    <div class="m-l-16">
                                        <h6 class=" f-s-14 f-w-600">
                                            {{ element.name }}
                                        </h6>
                                        <span class="f-s-14 f-s-12">
                                            {{ getPositionTitle(element.position_id) }}
                                        </span>
                                    </div>
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="skills">
                            <th mat-header-cell *matHeaderCellDef class="f-w-600  f-s-14">
                                Skills
                            </th>
                            <td mat-cell *matCellDef="let element" class="f-s-14">
                                {{ element.skills }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="english level">
                            <th mat-header-cell *matHeaderCellDef class="f-w-600  f-s-14">
                                English level
                            </th>
                            <td mat-cell *matCellDef="let element">
                                @if(element.english_level === 'C1' || element.english_level === 'C2') {
                                <span class="bg-light-success text-success rounded f-w-600 p-6 p-y-4 f-s-12">
                                    {{ element.english_level }}
                                </span>
                                }
                                @if(element.english_level === 'B1' || element.english_level === 'B2') {
                                <span class="bg-light-warning text-warning rounded f-w-600 p-6 p-y-4 f-s-12">
                                    {{ element.english_level }}
                                </span>
                                }
                                @if(element.english_level === 'A1' || element.english_level === 'A2') {
                                <span class="bg-light-error text-error rounded f-w-600 p-6 p-y-4 f-s-12">
                                    {{ element.english_level }}
                                </span>
                                }
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="availability">
                            <th mat-header-cell *matHeaderCellDef class="f-w-600  f-s-14">
                                Availability
                            </th>
                            <td mat-cell *matCellDef="let element">
                                @if(element.availability === 'available') {
                                <span class="bg-light-success text-success rounded f-w-600 p-6 p-y-4 f-s-12">
                                    {{ element.availability | titlecase }}
                                </span>
                                }
                                @if(element.availability === 'unavailable') {
                                <span class="bg-light-error text-error rounded f-w-600 p-6 p-y-4 f-s-12">
                                    {{ element.availability | titlecase }}
                                </span>
                                }
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="interview">
                            <th mat-header-cell *matHeaderCellDef class="f-w-600  f-s-14">
                                Interview
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{ getInterviewDateTime(element.id) ? (getInterviewDateTime(element.id) | date: 'short')
                                : 'No interview scheduled' }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="resume">
                            <th mat-header-cell *matHeaderCellDef class="f-w-600  f-s-14">
                                Resume
                            </th>
                            <td mat-cell *matCellDef="let element" class="f-s-14">
                                <a (click)="downloadFile(element.resume_url, element.name); $event.preventDefault()"
                                    style="cursor: pointer;">
                                    <i-tabler class="icon-22" name="download"></i-tabler>
                                </a>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"
                            (click)="selection.toggle(row); onRowSelectionChange()"></tr>
                        <tr *ngIf="dataSource?.data?.length === 0">
                            <td colspan="8">
                                <p>No candidates available.</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </mat-card>
    </div>
</div>