::ng-deep {
    .table-responsive td, .table-responsive mat-cell {
    white-space: normal!important;
    padding: 16px;
    }
}

::ng-deep .status-cell {
  text-align: center !important;
  align-items: center !important;
}