.demo-table {
  width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: #A9D37880;
}

.demo-row-is-clicked {
  font-weight: bold;
}

i {
    margin-right: 15px;
}

button {
  margin-left: 30px;
}

.read-notification {
  color: #727272;
}

@media (max-width: 768px) {
  .desktop-only {
    display: none !important;
  }
  .mobile-only {
    display: table-row !important;
  }
  th.mobile-only, td.mobile-only, .mat-column-mobile {
    display: table-cell !important;
  }
}

@media (min-width: 769px) {
  .mobile-only {
    display: none !important;
  }
  .desktop-only {
    display: table-row !important;
  }
  th.desktop-only, td.desktop-only, .mat-column-message, .mat-column-date {
    display: table-cell !important;
  }
}
