.demo-table {
  width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: #A9D37880;
}

.demo-row-is-clicked {
  font-weight: bold;
}

i {
    margin-right: 15px;
}

button {
  margin-left: 30px;
}

.read-notification {
  color: #727272;
}