<mat-card class="cardWithShadow">
  <mat-card-content>
    <mat-table [dataSource]="notificationsDataSource" class="mat-elevation-z8 demo-table">
      <ng-container class="mat-column-message" matColumnDef="message">
        <mat-header-cell *matHeaderCellDef> Message </mat-header-cell>
        <mat-cell *matCellDef="let notification">
          <i [ngClass]="notificationIcons[notification.type_id - 1].icon" 
             [ngStyle]="{'color': notification.users_notifications.status === 2 ? '#727272' : notificationIcons[notification.type_id - 1].color}"></i>
          <span [class.read-notification]="notification.users_notifications.status === 2"
          [innerHTML]="formatMessage(notification.message)">
          </span>
        </mat-cell>
      </ng-container>

      <ng-container class="mat-column-date" matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
        <mat-cell class="d-flex justify-content-between" *matCellDef="let notification">
          <span [class.read-notification]="notification.users_notifications.status === 2">
            {{ notification.createdAt | date: 'MMM d, y' }}
          </span>
          <button *ngIf="notification.users_notifications.status !== 2" 
                  (click)="markAsRead(notification)" 
                  mat-button>Mark as read</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="handleClick(row)"></mat-row>
      
    </mat-table>

    <mat-paginator [length]="notificationsDataSource.data.length"
                   [pageSize]="10"
                   [pageSizeOptions]="[10, 20, 50]">
    </mat-paginator>

    <div *ngIf="notificationsDataSource.data.length === 0">
        <span>There are no notifications yet</span>
    </div>

    <div *ngIf="!loaded" class="d-flex justify-content-center">
      <mat-spinner></mat-spinner>
    </div>
  </mat-card-content>
</mat-card>