<mat-card class="cardWithShadow h-100 d-flex flex-column">
  <mat-card-content class="p-24">
    <mat-card-title>Geofencing</mat-card-title>
    <div
      id="current-visitors"
      style="width: 100%; height: 550px"
      class="m-y-20"
    ></div>
    <div *ngFor="let location of locations" class="d-flex align-items-center justify-content-between gap-16 m-t-20">
      <span class="f-w-600 f-s-14">{{ location.country }}, {{ location.city }}</span>
      <p class="f-w-600 f-s-14">
        <strong>{{ location.time }}</strong>
        <span>
          ({{ location.timezone.abbreviation }})
        </span>
      </p>
    </div>
    <div class="client-location-section m-b-20 m-t-24">
      <h4 class="f-w-600 f-s-16 m-b-10">Your Location</h4>
      <div *ngIf="clientLocation" class="d-flex align-items-center justify-content-between gap-16">
        <span class="f-w-600 f-s-14">
          {{ clientLocation.city }}, {{ clientLocation.country }}
        </span>
        <p class="f-w-600 f-s-14">
          <strong>{{ clientLocation.time }}</strong>
          <span>
            ({{ clientLocation.timezone?.abbreviation || 'Local' }})
          </span>
        </p>
      </div>
      <div *ngIf="!clientLocation && locationError" class="text-error f-s-12">
        {{ locationError }}
      </div>
      <div *ngIf="!clientLocation && !locationError" class="text-muted f-s-12">
        Loading your location...
      </div>
    </div>
  </mat-card-content>
</mat-card>