<mat-card class="cardWithShadow h-100 d-flex justify-content-between" tourAnchor="dash-geofencing">
  <mat-card-content class="p-24">
    <mat-card-title>Geofencing</mat-card-title>
    <div
      id="current-visitors"
      [style]="{width: '100%', height: isMobile() ? '300px' : '500px'}"
      class="m-y-20"
    ></div>
  </mat-card-content>
  <mat-card-content>
    <div *ngFor="let location of locations" class="d-flex align-items-center justify-content-between gap-16 m-t-20">
      <span class="f-w-600 f-s-14">{{ location.country }}, {{ location.city }}</span>
      <p class="f-w-600 f-s-14">
        <strong>{{ location.time }}</strong>
        <span>
          ({{ location.timezone.abbreviation }})
        </span>
      </p>
    </div>
  </mat-card-content>
</mat-card>