<div class="blank-layout-container justify-content-center">
  <div class="auth-wrapper">
    <div class="position-relative">
      <div class="h-100 w-100 position-relative rounded bg-white auth-card">
        <div class="auth-body h-100 p-0">
          <div class="row g-0 h-100">
            <div class="col-lg-6 position-relative auth-bg-container">
              <div class="auth-bg-image" [style.background-image]="'url(' + assetPath + ')'"></div>
            </div>
            <div class="col-lg-6">
              <div
                class="d-flex align-items-start align-items-lg-center justify-content-center h-100"
              >
                <div class="row justify-content-center align-items-center w-100 h-100">
                  <div class="col-lg-11">
                    <ng-container *ngIf="!showCheckEmail; else checkEmailBlock">
                      <h4 class="f-w-700 f-s-30 lh-base m-0 m-t-32">
                        Forgot your password?
                      </h4>
                      <span class="f-s-14 d-block mat-body-1 m-t-8"
                        >Please enter the email address associated with your
                        account and we will email you a link to reset your
                        password.</span
                      >

                      <form
                        class="m-t-30"
                        [formGroup]="form"
                        (ngSubmit)="submit()"
                      >
                        <mat-label
                          class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
                          >Email Adddress</mat-label
                        >
                        <mat-form-field
                          appearance="outline"
                          class="w-100"
                          color="primary"
                        >
                          <input matInput type="email" formControlName="email" />
                          @if(f['email'].touched && f['email'].invalid) {
                          <mat-hint class="m-b-16 error-msg">
                            @if(f['email'].errors &&
                            f['email'].errors['required']) {
                            <div class="text-error">Email is required.</div>
                            }
                          </mat-hint>
                          }
                        </mat-form-field>

                        <button
                          mat-flat-button
                          color="primary"
                          class="w-100"
                          [disabled]="!form.valid"
                        >
                          Send Reset Email
                        </button>
                        <a
                          [routerLink]="['/authentication/login']"
                          mat-stroked-button
                          color="primary"
                          class="w-100 m-t-8 m-b-32"
                        >
                          Back to Login
                        </a>
                      </form>
                    </ng-container>
                    <ng-template #checkEmailBlock>
                      <h4 class="f-w-700 f-s-30 lh-base m-0 m-b-16 m-t-32">
                        <mat-icon 
                          style="color: #92b46c; font-size: 2rem; height: 2rem; width: 2rem;"
                          class="m-r-6">
                          mark_email_read
                        </mat-icon>
                        Check your email!
                      </h4>
                      <p class="f-s-16 m-b-0">
                        Please check the email address <b>{{submittedEmail}}</b> for instructions to reset your password.
                      </p>
                      <a
                        [routerLink]="['/authentication/login']"
                        mat-stroked-button
                        color="primary"
                        class="w-100 m-t-24 m-b-32"
                      >
                        Back to Login
                      </a>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
