  <mat-card tourAnchor="calendar-filter" class="cardWithShadow p-16" *ngIf="userRole !== '2'">
    <div class="d-flex justify-content-end flex-row w-100">
      <mat-form-field
        appearance="outline"
        *ngIf="userRole === '1'"
        style="width: max-content"
        class="m-r-16"
      >
        <mat-label class="f-s-14 m-b-8">Select a Company</mat-label>
        <mat-select
          [(ngModel)]="companyId" (selectionChange)="this.getTeamMembers(); getToDos()"
        >
          <mat-option *ngFor="let company of companies" [value]="company.id">
            {{ company.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field appearance="outline" style="width: max-content">
        <mat-label class="f-s-14 m-b-8">Select a Team Member</mat-label>
        <mat-select
          [(ngModel)]="teamMemberId" (selectionChange)="getToDos()"
        >
          <mat-option [value]="null">All</mat-option>
          <mat-option *ngIf="loggedInUser" [value]="loggedInUser.id">
            {{ loggedInUser.name }} {{ loggedInUser.last_name }}
          </mat-option>
          <mat-option
            *ngFor="let tm of teamMembers"
            [value]="tm.id"
          >
            {{ tm.name }} {{ tm.last_name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field appearance="outline" style="width: max-content; margin-left: 16px;">
    <mat-label class="f-s-14 m-b-8">Filter by Priority</mat-label>
    <mat-select [(ngModel)]="selectedPriority" (selectionChange)="getToDos()">
      <mat-option [value]="null">All</mat-option>
      <mat-option *ngFor="let priority of priorities" [value]="priority.id">
        {{ priority.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
    </div>
  </mat-card>

<mat-card class="cardWithShadow overflow-hidden" tourAnchor="calendar-overview">
  <mat-toolbar class="bg-primary p-10 text-white no-shadow">
    <mat-toolbar-row class="h-auto">
      <div class="d-flex align-items-center justify-content-between w-100" id="calendar-header">
        <span>{{ viewDate() | calendarDate: view() + "ViewTitle":"en" }}</span>
        <div class="d-flex" id="calendar-header-buttons">
          <div class="d-flex justify-content-center">
            <button
              mat-button
              class="text-white"
              (click)="setView('month')"
              [class.active]="view() === 'month'"
            >
              Month
            </button>
            <button
              mat-button
              class="text-white"
              (click)="setView('week')"
              [class.active]="view() === 'week'"
            >
              Week
            </button>
            <button
              mat-button
              class="text-white"
              (click)="setView('day')"
              [class.active]="view() === 'day'"
            >
              Day
            </button>
          </div>
          <div class="d-flex justify-content-center" id="calendar-header-view-icon-buttons">
            <button
              mat-icon-button
              class="text-white"
              (click)="setView('month')"
              [class.active]="view() === 'month'"
            >
              <mat-icon>view_module</mat-icon>
            </button>
            <button
              mat-icon-button
              class="text-white"
              (click)="setView('week')"
              [class.active]="view() === 'week'"
            >
              <mat-icon>view_week</mat-icon>
            </button>
            <button
              mat-icon-button
              class="text-white"
              (click)="setView('day')"
              [class.active]="view() === 'day'"
            >
              <mat-icon>view_day</mat-icon>
            </button>
          </div>
          <div class="d-flex justify-content-center">
            <button
              mat-icon-button
              class="text-white"
              mwlCalendarPreviousView
              (click)="goToPrevious()"
            >
              <mat-icon>chevron_left</mat-icon>
            </button>
            <button
              mat-icon-button
              mwlCalendarToday
              class="text-white"
              (click)="goToToday()"
            >
              <mat-icon>today</mat-icon>
            </button>
            <button
              mat-icon-button
              mwlCalendarNextView
              class="text-white"
              (click)="goToNext()"
            >
              <mat-icon>chevron_right</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-card-content class="p-0">
    <div [ngSwitch]="view()">
      <!-- month view -->
      <mwl-calendar-month-view
        *ngSwitchCase="'month'"
        [viewDate]="viewDate()"
        [events]="events()"
        [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen()"
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Edit', $event.event)"
      >
      </mwl-calendar-month-view>

      <!-- week view -->
      <mwl-calendar-week-view
        *ngSwitchCase="'week'"
        [viewDate]="viewDate()"
        [dayStartHour]="dayStartHour"
        [dayEndHour]="dayEndHour"
        [events]="events()"
        [refresh]="refresh"
        (dayHeaderClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Edit', $event.event)"
        (hourSegmentClicked)="handleTimeGridClick($event.date)"
      >
      </mwl-calendar-week-view>

      <!-- day view -->
      <mwl-calendar-day-view
        *ngSwitchCase="'day'"
        [viewDate]="viewDate()"
        [dayStartHour]="dayStartHour"
        [dayEndHour]="dayEndHour"
        [events]="events()"
        [refresh]="refresh"
        (eventClicked)="handleEvent('Edit', $event.event)"
        (hourSegmentClicked)="handleTimeGridClick($event.date)"
      >
      </mwl-calendar-day-view>
    </div>
  </mat-card-content>
</mat-card>
