<div class="d-flex flex-row justify-content-between align-items-center">
    <div></div>
    <mat-dialog-actions class="d-flex flex-end">
        <div class="w-100 d-flex justify-content-center">
            <button
                mat-button
                class="ms-2 rounded shadow px-4 py-1 btn btn-danger"
                [mat-dialog-close]="true"
            >
                <i class="fa-solid fa-xmark"></i>
            </button>
      </div>
    </mat-dialog-actions>
</div>
<mat-dialog-content class="d-flex flex-column justify-content-center align-items-center p-t-0">
    <h2 mat-dialog-title class="text-center m-t-2 m-b-20">Remember to log your today's achieved goals!</h2>
    <div class="d-flex flex-row justify-content-around" style="width: 75%; margin: 0 auto;">
        <button 
            mat-flat-button
            class="bg-error text-white m-r-16"
            [mat-dialog-close]="'later'"
        >
            Maybe later
        </button>
        <button 
            mat-flat-button
            color="primary"
            [mat-dialog-close]="'now'"
        >
            Log my goals
        </button>
    </div>
</mat-dialog-content>
  