::ng-deep {
    .table-responsive td, .table-responsive mat-cell {
    white-space: normal!important;
    padding: 16px;
    }
}

.maintenance {
    text-align: center; 
    height: 80vh;
    align-items: center; 
    display: flex; 
    justify-content: center;
}

h2 {
    margin-top: 30px;
    font-size: 28px;
}