<div class="dynamic-table">
    <div *ngIf="loading" class="dynamic-table__state text-center p-24">
        <mat-progress-spinner diameter="56" mode="indeterminate"></mat-progress-spinner>
    </div>

    <ng-container *ngIf="!loading && visibleRows.length > 0; else emptyState">
        <div class="table-responsive">
            <table
                mat-table
                matSort
                matSortDisableClear
                [matSortActive]="activeMatSortBy"
                [matSortDirection]="activeMatSortDirection"
                (matSortChange)="onMatSortChange($event)"
                [dataSource]="visibleRows"
                class="w-100">
                <ng-container *ngFor="let column of columns" [matColumnDef]="column.id">
                    <th mat-header-cell  *matHeaderCellDef [class]="column.headerClass || ''">
                        <ng-container *ngIf="column.headerTemplate; else defaultHeader">
                            <ng-container
                                *ngTemplateOutlet="column.headerTemplate; context: { column: column }"></ng-container>
                        </ng-container>

                        <ng-template #defaultHeader>
                            <ng-container *ngIf="column.sortable; else plainHeader">
                                <span
                                    class="f-w-600 f-s-14"
                                    [mat-sort-header]="column.sortKey || column.id"
                                    [disableClear]="true">
                                    {{ column.header }}
                                </span>
                            </ng-container>

                            <ng-template #plainHeader>
                                <span class="f-w-600 f-s-14">{{ column.header }}</span>
                            </ng-template>
                        </ng-template>
                    </th>

                    <td mat-cell *matCellDef="let row; let index = index" [class]="column.cellClass || ''">
                        <ng-container *ngIf="column.cellTemplate; else defaultCell">
                            <ng-container
                                *ngTemplateOutlet="column.cellTemplate; context: getCellContext(row, column, index)"></ng-container>
                        </ng-container>

                        <ng-template #defaultCell>
                            <app-dynamic-table-cell [row]="row" [column]="column"
                                (rowAction)="rowAction.emit($event)"></app-dynamic-table-cell>
                        </ng-template>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr 
                    mat-row 
                    *matRowDef="let row; 
                    columns: displayedColumns"
                    [class.dynamic-table__row--clickable]="rowClickable" 
                    (click)="onRowClicked(row)">
                </tr>
            </table>
        </div>

        <app-dynamic-paginator *ngIf="showPaginator" [currentPage]="effectiveCurrentPage"
            [totalPages]="effectiveTotalPages" (pageChange)="handlePageChange($event)"></app-dynamic-paginator>
    </ng-container>

    <ng-template #emptyState>
        <div *ngIf="!loading" class="dynamic-table__state text-center p-24">
            <div
                class="dynamic-table__empty-icon rounded-circle d-inline-flex align-items-center justify-content-center m-b-12">
                <mat-icon>{{ emptyIcon }}</mat-icon>
            </div>
            <p class="f-s-16 text-muted m-0">{{ backendMessage || emptyMessage }}</p>
        </div>
    </ng-template>
</div>