<table mat-table [dataSource]="dataSourceTable" class="w-100">

  <!-- Name -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Name</th>
    <td mat-cell *matCellDef="let client">
      <div class="d-flex align-items-center gap-16">
        <img
            [src]="client.imagePath || client.image || 'assets/images/default-user-profile-pic.png'"
            alt="client picture"
            width="45"
            height="45"
            class="rounded-circle"
            style="object-fit: cover; aspect-ratio: 1 / 1;"
        />
        <div>
          <a
            class="f-w-600 f-s-16 m-t-0"
            [routerLink]="['/apps/expert', client.id]"
            style="text-decoration: none;"
          >
            {{ client.name }} {{ client.last_name }}
          </a>
        </div>  
      </div>
    </td>
  </ng-container>

  <!-- Departments - Area -->
  <ng-container matColumnDef="departments">
    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600 col-4">Area</th>
    <td mat-cell *matCellDef="let client">{{ client.company?.departmentsString }}</td>
  </ng-container>

  <!-- Email -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Email</th>
    <td mat-cell *matCellDef="let client">{{ client.email }}</td>
  </ng-container>

  <!-- Phone -->
  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Phone</th>
    <td mat-cell *matCellDef="let client">{{ client.phone }}</td>
  </ng-container>

  <!-- Company -->
  <ng-container matColumnDef="company">
    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Company</th>
    <td mat-cell *matCellDef="let client">
      <a
        class="f-w-600 f-s-16 m-t-0"
        [routerLink]="['/apps/expert', client.id]"
        style="text-decoration: none;"
      >{{ client.company?.name }}
      </a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns;"
    class="clickable-row">
  </tr>
</table>

<mat-paginator
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
  [length]="dataSourceTable.data.length"
  [pageSize]="5">
</mat-paginator>