<div class="match-search d-flex flex-column align-items-center gap-4">
  <div class="search-bar w-100 d-flex align-items-center gap-2" style="max-width: 600px;">
    <mat-form-field appearance="outline" class="flex-grow-1 hide-hint m-0"  *ngIf="!showCustomSearch">
      <mat-icon matPrefix>
        <i-tabler name="search" class="icon-20 d-flex m-t-2"></i-tabler>
      </mat-icon>        
      <input
        matInput
        [placeholder]="placeholder"
        [(ngModel)]="query"
        (ngModelChange)="onSearchChange()" />
    </mat-form-field>
  </div>
  <div class="d-flex justify-content-center gap-2">
    <button *ngIf="aiEnabled"
            mat-raised-button color="primary"
            (click)="onAskAI()" [disabled]="loading || (!query && !canSearch) || cooldownActive">
      <ng-container *ngIf="!loading; else loadingTpl">Search</ng-container>
      <ng-template #loadingTpl>
        <mat-progress-spinner diameter="20" mode="indeterminate"></mat-progress-spinner>
      </ng-template>
    </button>
    <button *ngIf="showInterviewButton"
            mat-raised-button
            color="primary"
            (click)="onInterviewClick()"
            [disabled]="interviewDisabled">
      Interview
    </button>
  </div>
</div>