<mat-card
  class="tour-step-card m-0"
  (click)="$event.stopPropagation()"
  [style.width]="step.stepDimensions?.width"
  [style.min-width]="step.stepDimensions?.minWidth"
  [style.max-width]="step.stepDimensions?.maxWidth"
>
  <mat-card-header>
    <div class="header-group">
      <mat-card-title>
        {{ step.title }}
      </mat-card-title>
      <a
        class="skip text-primary cursor-pointer"
        (click)="onTourSkip()"
      >
        Skip
      </a>
    </div>
  </mat-card-header>

  <mat-card-content
    class="mat-body"
    [innerHTML]="step.content"
  ></mat-card-content>

  <mat-card-actions
    [class.no-progress]="!step.showProgress"
  >
    <button
      mat-button
      class="prev"
      [disabled]="!tourService.hasPrev(step)"
      (click)="tourService.prev()"
    >
      <mat-icon>chevron_left</mat-icon>
      {{ step.prevBtnTitle }}
    </button>
    @if (step.showProgress) {
      <div class="progress">
        {{ getProgressIndex() }} / {{ getProgressTotal() }}
      </div>
    }
    @if (!isNoTaskKanbanEndStep() && ((tourService.hasNext(step) && !step.nextOnAnchorClick) || step.anchorId === 'kanban-first-board' || step.anchorId === 'chat-first-conversation' || step.anchorId === 'employee-first-name' || step.anchorId === 'kanban-task-actions')) {
      <button
        class="next"
        (click)="step.anchorId === 'kanban-first-board' ? onKanbanOpenNext() : (step.anchorId === 'chat-first-conversation' ? onChatOpenNext() : (step.anchorId === 'employee-first-name' ? onEmployeeDetailsOpenNext() : (step.anchorId === 'kanban-task-actions' ? onKanbanTaskActionsNext() : tourService.next())))"
        mat-button
      >
        {{ step.nextBtnTitle }}
        <mat-icon iconPositionEnd>chevron_right</mat-icon>
      </button>
    }
    @if ((!tourService.hasNext(step) || isNoTaskKanbanEndStep()) && step.anchorId !== 'kanban-first-board' && step.anchorId !== 'employee-first-name' && step.anchorId !== 'kanban-task-actions') {
      <button
        mat-button
        (click)="isNoTaskKanbanEndStep() ? onNoTaskKanbanEnd() : tourService.end()"
      >
        {{ step.endBtnTitle }}
      </button>
    }
  </mat-card-actions>
</mat-card>
