<mat-card class="cardWithShadow maintenance">
  <mat-card-content>
    <div class="d-flex justify-content-center align-items-center">
        <img src="assets/images/expert-match.png" alt="Expert Match Logo" height="60"/>
      </div>
      <h2>Coming soon!</h2>
  </mat-card-content>
</mat-card>

<!-- Change later *ngIf="!selectedClient" -->
<ng-container *ngIf="false">
  <mat-card class="cardWithShadow">
    <mat-card-content>
      <div class="d-flex justify-content-center align-items-center">
        <img src="assets/images/expert-match.png" alt="Expert Match Logo" height="0"/>
      </div>
      <div class="d-flex justify-content-center m-t-16">
        <div style="max-width: 600px; width: 100%;">
          <mat-form-field appearance="outline" class="w-100 m-0">
            <mat-label>Area</mat-label>
            <mat-select [(ngModel)]="selectedDepartmentId">
              <mat-option [value]="null">All Areas</mat-option>
              <mat-option *ngFor="let dept of departments" [value]="dept.id">
                {{ dept.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <app-match
            class="w-100 m-0"
            [loading]="aiLoading"
            [aiEnabled]="!useManualSearch"
            [canSearch]="canSearch"
            [showCustomSearch]="false"
            placeholder="Search for an Expert..."
            (askAI)="askGemini($event)"
            (searchChange)="onSearchTextChange($event)">
          </app-match>
        </div>
      </div>
      <div *ngIf="aiLoading || aiAnswer" class="mt-16">
        <mat-card color="accent" class="p-16">
          <div>
            <ng-container *ngIf="aiLoading; else showAnswer">
              <div class="d-flex align-items-center gap-8">
                <img
                  src="assets/icons/ai-loader.gif"
                  alt="AI loading"
                  style="width: 80px; height: 80px;"
                />
                <span>Searching for the requested expert...</span>
              </div>
            </ng-container>
            <ng-template #showAnswer>
              <div [innerHTML]="aiAnswer | markdown | linebreak"></div>
            </ng-template>
          </div>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="cardWithShadow mt-16" *ngIf="filteredClients.length > 0">
    <mat-card-content>
      <div class="table-responsive">
        <app-client-table [clients]="filteredClients" [userPlanName]="this.plan?.name"></app-client-table>
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>

<!-- Change later *ngIf="selectedClient" -->
<ng-container *ngIf="false">
  <app-client-details
    [client]="selectedClient"
    (back)="onBackFromDetails()">
  </app-client-details>
</ng-container>