<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="row justify-content-between gap-16">
      <div class="col-lg-4 d-flex align-items-center justify-content-start gap-16">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <mat-label>Select a Department</mat-label>
          <mat-select [(value)]="departmentFilter" (selectionChange)="applyDepartmentFilter()">
            <mat-option value="">All Departments</mat-option>
            <mat-option *ngFor="let dept of departments" [value]="dept">{{ dept }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow mt-16">
  <mat-card-content>
    <div class="table-responsive">
      <app-client-table [clients]="filteredClients"></app-client-table>
    </div>
  </mat-card-content>
</mat-card>