@import "/src/theme/variables.scss";

.table {
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.17) 0px 14px 28px, rgba(0, 0, 0, 0.13) 0px 10px 10px;
}
.table th:not(:first-of-type) {
    background: #e4e4e4;
    color: #808080;
    text-transform: capitalize;
}
.table tr td {
    font-size: .5rem;
    color: #808080;
    text-align: center;
    max-width: 100px;
}
table, th, td {
    border: 1px solid #dddddd;
}
table td.completed-task {
    background: #92b46c;
    color: white!important;
    font-size: .65rem!important;
    font-weight: bold;
}
table td.pending-task {
    background: #808080;
    color: white!important;
    font-size: .65rem!important;
    font-weight: bold;
}
.month-picker {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900; 
    color: #808080;
    margin-bottom: 1.5rem;
    cursor: pointer;
}
.month-picker i {
    margin-left: 1.5rem;
}
#range-selection {
    width: 250px;
    margin: 0 auto;
    position: relative;
}
.calendar {
    position: absolute;
    top: 2.5rem;
}
.nav-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #92b46c;
}
.nav-button:disabled {
    color: #808080;
}

.custom-tooltip {
    background-color: #333;
    color: #fff;
    font-size: 12px;
    padding: 8px;
    border-radius: 4px;
    white-space: pre-line; /* Permitir saltos de línea para los detalles */
    max-width: 300px;
    word-wrap: break-word;
  }