<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="client-details-container d-flex flex-wrap gap-4">
      <div class="left-column">
        <ng-container *ngIf="client?.company?.logoUrl as logoUrl">
          <img [src]="logoUrl" class="company-logo-large" alt="Company Logo"/>
        </ng-container>
        <h2 class="company-name">{{ client?.company?.name }}</h2>
        <p class="company-description">{{ client?.company?.description }}</p>
      </div>
      <div class="right-column">
        <div class="field-row">
          <div class="field-block">
            <p class="field">Departments</p>
            <p class="info">{{ departmentsList }}</p>
          </div>
         <div class="field-block">
            <p class="field">Email</p>
            <div *ngIf="canShowContact; else upgradeMsg">
              <p class="info">{{ client?.email || '' }}</p>
            </div>
            <ng-template #upgradeMsg>
              <p class="text-primary">
                Upgrade your plan to access the contact details of experts.
              </p>
            </ng-template>
          </div>
        </div>

        <div class="field-row">
           <div class="field-block">
            <p class="field">Phone</p>
            <div *ngIf="canShowContact; else upgradeMsg">
              <p class="info">{{ client?.phone || '' }}</p>
            </div>
            <ng-template #upgradeMsg>
              <p class="text-primary">
                Upgrade your plan to access the contact details of experts.
              </p>
            </ng-template>
          </div>
          <div class="field-block">
            <p class="field">Website</p>
            <p class="info">
              <a *ngIf="client?.company?.website" [href]="client.company.website" target="_blank">
                {{ client.company.website }}
              </a>
            </p>
          </div>
        </div>

        <div class="field-row">
          <div class="field-block">
            <p class="field">Location</p>
            <p class="info">{{ client?.company?.location || '' }}</p>
          </div>
        </div>

        <div class="field-row">
          <div class="field-block">
            <p class="field">Socials</p>
            <div class="social-links d-flex" style="gap: 16px;">
              <a *ngFor="let social of companySocials"
                [href]="social.url"
                target="_blank"
                rel="noopener noreferrer"
                style="display: flex; align-items: center; text-decoration: none;">
                <i [ngClass]="social.iconClass" class="social-icon" [attr.aria-label]="social.name"></i>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </mat-card-content>
</mat-card>