<router-outlet></router-outlet>

@if (cometChatService.outGoingCallObject) {
    <div id="outgoingCall">
        <cometchat-outgoing-call 
            [call]="cometChatService.outGoingCallObject"
            [onCloseClicked]="handleOnCloseClicked"
        >
        </cometchat-outgoing-call>
    </div>
}
@if (cometChatService.isCallOngoing) {
    <cometchat-ongoing-call
        id="callScreen"
        [sessionID]="sessionId" 
        [callSettingsBuilder]="callSettings"
    >
    </cometchat-ongoing-call>
}
<cometchat-incoming-call></cometchat-incoming-call>