<div class="d-flex align-items-center justify-content-between m-b-16 p-x-20 p-t-16">
  <h3>{{action}} Employee</h3>
  <button
    mat-icon-button
    mat-dialog-close
    class="d-flex justify-content-center"
  >
    <i-tabler name="x" class="icon-20 d-flex"></i-tabler>
  </button>
</div>

<!-- -------------------------------------------------------------- -->
<!-- Add Employee -->
<!-- -------------------------------------------------------------- -->

@if(action !== 'Delete') {
<mat-dialog-content>
  <form [formGroup]="addEmployeeForm">
    <div class="d-flex align-items-center m-b-16">
      <img
        class="mat-card-avatar"
        [src]="local_data.image"
        class="rounded-circle"
        width="50"
        height="50"
      />
      <button mat-flat-button class="m-l-16 input-file-button">
        <input type="file" (change)="selectFile($event)" #fileInput />
      </button>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Name</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input
            type="text"
            matInput
            required
            id="name"
            name="name"
            formControlName="name"
            placeholder="Name"
          />
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Last Name</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input
            type="text"
            matInput
            required
            id="lastName"
            name="last_name"
            formControlName="last_name"
            placeholder="Last Name"
          />
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Password</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input
            type="password"
            matInput
            id="password"
            name="password"
            formControlName="password"
            placeholder="Employees password"
          />
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Email</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input
            type="text"
            matInput
            required
            id="email"
            name="email"
            formControlName="email"
            placeholder="Email"
          />
        </mat-form-field>
      </div>

      <div class="col-lg-6" *ngIf="userRole == '1'">
        <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Company</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select formControlName="company_id" name="company_id" required>
            <mat-option *ngFor="let company of companies" [value]="company.id">
              {{ company.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-lg-6">
        <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Position</mat-label>
        <mat-form-field appearance="outline" class="w-100">          
          <mat-select formControlName="position" name="position" required>
            <mat-option *ngFor="let position of positions" [value]="position.id">
              {{ position.title }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
      <div class="col-lg-6">
        <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Projects</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select formControlName="projects" multiple name="projects">
            <mat-option *ngFor="let project of projects" [value]="project.id">
              {{ project.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <button
      mat-flat-button
      (click)="doAction()"
      mat-flat-button
      [disabled]="!addEmployeeForm.valid || sendingData"
    >
      {{action}}
    </button>
    <button
      mat-flat-button
      class="m-l-8 bg-error text-white"
      (click)="closeDialog()"
    >
      Cancel
    </button>
  </form>
</mat-dialog-content>
}
<!-- -------------------------------------------------------------- -->
<!-- Delete Employee info -->
<!-- -------------------------------------------------------------- -->

@else {
<div class="p-x-24 m-y-8">
  <p class="f-s-14">
    Sure to delete <span class="f-w-600">{{local_data.Name}}</span> ?
  </p>
</div>
<div mat-dialog-actions class="p-x-24 p-b-24">
  <button (click)="doAction()" mat-flat-button>{{action}}</button>
  <button
    mat-flat-button
    (click)="closeDialog()"
    class="m-l-8 bg-error text-white"
  >
    Cancel
  </button>
</div>
}
