<mat-toolbar class="topbar topbar-xl m-auto">
  <div class="container full-width p-xs-6 justify-content-between">
    <div class="branding p-x-0">
      <app-branding [fullLogoMaxWidth]="'180px'"></app-branding>
    </div>

    <div class="d-flex align-items-center gap-10">
      <app-button id="login-button" text="Login" variant="ghost" size="small" [routerLink]="['/authentication/login']"></app-button>
      <app-button id="get-started-button" text="Get Started" variant="filled" size="small" [routerLink]="['/authentication/side-register']"></app-button>

      <!-- Mobile Menu -->
      <button
        mat-icon-button
        (click)="filterNavRight?.toggle()"
        class="d-flex d-lg-none"
      >
        <i-tabler name="menu-2" class="icon-20 d-flex"></i-tabler>
      </button>
    </div>
  </div>
</mat-toolbar>
