<div class="selector-container">
    <label id="label">
        <input *ngIf="showOptions" type="text" class="search-input" 
               placeholder="Search positions..." 
               [(ngModel)]="searchTerm"
               (input)="filterPositions()">
        <p *ngIf="!selectedPosition && !showOptions" class="label-text">Who are you looking for?</p>
        <p *ngIf="selectedPosition && !showOptions">{{selectedPosition.title}}</p>
        <i class="fa-solid fa-angle-down" (click)="toggleSelector()" *ngIf="!showOptions"></i>
        <i class="fa-solid fa-angle-up" (click)="toggleSelector()" *ngIf="showOptions"></i>
    </label>

    @if (showOptions) {
        <div id="options-container">
            <p class="position" *ngFor="let position of filteredPositions" (click)="handleSelect(position)"> 
                {{position.title}} 
            </p>
            <p class="other-position" *ngIf="showOtherOption">
                Other
                <input type="text" value="" (keyup)="handleOtherInput($event)" />
            </p>
        </div>
    }
</div>