<mat-sidenav-container class="mainWrapper">
  <mat-sidenav-content>
    <!-- ------------------------------------------------------------------
    Header
    ------------------------------------------------------------------ -->
    <mat-toolbar class="topbar topbar-xl m-auto">
      <div class="container full-width p-xs-6 justify-content-between">
        <!-- --------------------------------------------------------------- -->
        <div class="branding p-x-0 landingpage-logo">
          <app-branding [fullLogoMaxWidth]="'200px'"></app-branding>
        </div>

        <!-- --------------------------------------------------------------- -->

        <div class="d-none d-lg-flex">
          <!-- --------------------------------------------------------------- -->
          <!--  Links -->
          <!-- --------------------------------------------------------------- -->
          <!-- <button mat-button class="m-x-8 f-s-16 f-w-500" (click)="gotoDemos()">
            Demos
          </button> -->

          <!-- --------------------------------------------------------------- -->
          <!--  Links -->
          <!-- --------------------------------------------------------------- -->
          <a
            mat-button
            class="m-x-8 f-s-16 f-w-500"
            [routerLink]="['/landingpage/products']"
            style="color: #818181"
            >Products</a
          >

          <a
            mat-button
            class="m-x-8 f-s-16 f-w-500"
            [routerLink]="['/landingpage/industry']"
            style="color: #818181"
            >Industry</a
          >
          <a
            mat-button
            class="m-x-8 f-s-16 f-w-500"
            [routerLink]="['/landingpage/pricing']"
            style="color: #818181"
            >Pricing</a
          >
          <a
            mat-button
            class="m-x-8 f-s-16 f-w-500"
            [routerLink]="['/landingpage/why-us']"
            style="color: #818181"
            >Why us</a
          >
        </div>

        <div class="d-flex align-items-center gap-10">
          <a
            mat-flat-button
            color="primary"
            class="m-l-10"
            [routerLink]="['/authentication/login']"
            >Login</a
          >

          <!-- Mobile Menu -->
          <button
            mat-icon-button
            (click)="filterNavRight.toggle()"
            class="d-flex d-lg-none"
          >
            <i-tabler name="menu-2" class="icon-20 d-flex"></i-tabler>
          </button>
        </div>
      </div>
    </mat-toolbar>

    <!-- ------------------------------------------------------------------
   End Header
    ------------------------------------------------------------------ -->

    <!-- ------------------------------------------------------------------
    Banner
    ------------------------------------------------------------------ -->
    <div class="overflow-hidden banner-section bg-green">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-11">
            <div class="text-center">
              <h1 class="banner-title m-0 f-w-700 text-white">
                Everything You Need to Manage Your Remote Team<br />
              </h1>
              <p class="f-s-18 p-y-24 m-t-12 m-0 banner-subtitle text-white">
                Your Command Center for remote work. Get a complete overview of
                your team’s activity, progress, and performance. Inimble’s Home
                dashboard centralizes your key metrics and updates in real time,
                so you can lead with clarity.
              </p>
              <div class="m-t-24 hstack justify-content-center">
                <a
                  mat-flat-button
                  color="primary"
                  (click)="gotoDemos()"
                  class="btn-custom"
                  >Use Inimble for free</a
                >
                <a
                  mat-stroked-button
                  color="primary"
                  target="_blank"
                  href="tel:+1-706-478-5677"
                  class="btn-custom2 border-primary text-white"
                  >Call us now</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ------------------------------------------------------------------
    End Banner
    ------------------------------------------------------------------ -->

    <div class="spacer bg-white">
      <div class="container">
        <h2 class="section-title f-w-700 m-y-30 text-center">
          Smarter Insights, Better Decisions
        </h2>

        <p class="text-center f-s-18 m-t-12 m-b-32">
          Track individual and team performance, monitor KPIs, and view project
          status all in one place. Our customizable dashboards help you stay in
          control and scale with confidence.
        </p>
        <!-- slider -->
        <!-- Slider de testimonios -->
        <div
          class="slider-wrapper overflow-hidden position-relative m-t-40 p-t-30 p-b-10"
        >
          <div class="d-flex flex-row w-100">
            <!-- Testimonio 1 -->
            <div class="slider-img testimonial-slide2">
              <div class="testimonial-content">
                <div class="d-flex align-items-center">
                  <img
                    src="assets/images/landingpage/logos/5.jpeg"
                    alt="Tania Valencia"
                    class="rounded-circle"
                    width="60"
                  />
                  <div class="m-l-16">
                    <h6 class="mat-subtitle-1 f-s-18 f-w-600 m-b-4">
                      Tania Valencia
                    </h6>
                    <div class="d-flex">
                      <i-tabler
                        name="star-filled"
                        class="fill-warning icon-16"
                      ></i-tabler>
                      <i-tabler
                        name="star-filled"
                        class="fill-warning icon-16 m-l-2"
                      ></i-tabler>
                      <i-tabler
                        name="star-filled"
                        class="fill-warning icon-16 m-l-2"
                      ></i-tabler>
                      <i-tabler
                        name="star-filled"
                        class="fill-warning icon-16 m-l-2"
                      ></i-tabler>
                      <i-tabler
                        name="star-filled"
                        class="fill-warning icon-16 m-l-2"
                      ></i-tabler>
                    </div>
                  </div>
                </div>
                <p class="m-t-16 testimonial-text">
                  "Andrea's performance has been great. We are very happy with
                  her. She follows direction and is organized. Her attention to
                  detail and commitment are clearly reflected in her work.
                  Andrea consistently demonstrates a deep understanding of her
                  role."
                </p>
              </div>
            </div>

            <!-- Testimonio 2 -->
            <div class="slider-img testimonial-slide2">
              <div class="testimonial-content">
                <div class="d-flex align-items-center">
                  <img
                    src="assets/images/landingpage/logos/smith.png"
                    alt="John Smith"
                    class="rounded-circle"
                    width="60"
                  />
                  <div class="m-l-16">
                    <h6 class="mat-subtitle-1 f-s-18 f-w-600 m-b-4">
                      John Smith
                    </h6>
                    <div class="d-flex">
                      <i-tabler
                        name="star-filled"
                        class="fill-warning icon-16"
                      ></i-tabler>
                      <i-tabler
                        name="star-filled"
                        class="fill-warning icon-16 m-l-2"
                      ></i-tabler>
                      <i-tabler
                        name="star-filled"
                        class="fill-warning icon-16 m-l-2"
                      ></i-tabler>
                      <i-tabler
                        name="star-filled"
                        class="fill-warning icon-16 m-l-2"
                      ></i-tabler>
                      <i-tabler
                        name="star-filled"
                        class="fill-warning icon-16 m-l-2"
                      ></i-tabler>
                    </div>
                  </div>
                </div>
                <p class="m-t-16 testimonial-text">
                  "Wow! Our numbers have gone up recently. When we look at
                  what's different, it's all the remote talent you've provided!
                  They've made our law firm stand out these last couple of
                  months. The office hasn't been this efficient in a while!"
                </p>
              </div>
            </div>

            <!-- Testimonio 3 -->
            <div class="slider-img testimonial-slide2">
              <div class="testimonial-content">
                <div class="d-flex align-items-center">
                  <img
                    src="assets/images/landingpage/logos/sandoval.png"
                    alt="Jessica Sandoval"
                    class="rounded-circle"
                    width="60"
                  />
                  <div class="m-l-16">
                    <h6 class="mat-subtitle-1 f-s-18 f-w-600 m-b-4">
                      Jessica Sandoval
                    </h6>
                    <div class="d-flex">
                      <i-tabler
                        name="star-filled"
                        class="fill-warning icon-16"
                      ></i-tabler>
                      <i-tabler
                        name="star-filled"
                        class="fill-warning icon-16 m-l-2"
                      ></i-tabler>
                      <i-tabler
                        name="star-filled"
                        class="fill-warning icon-16 m-l-2"
                      ></i-tabler>
                      <i-tabler
                        name="star-filled"
                        class="fill-warning icon-16 m-l-2"
                      ></i-tabler>
                      <i-tabler
                        name="star-filled"
                        class="fill-warning icon-16 m-l-2"
                      ></i-tabler>
                    </div>
                  </div>
                </div>
                <p class="m-t-16 testimonial-text">
                  "Great team to work with! Even if you know nothing about
                  remote work, they make it simple and easy to follow.
                  Incredible how much they've helped my business grow. Thank
                  you!"
                </p>
              </div>
            </div>

            <!-- Testimonio 4 -->
            <div class="slider-img testimonial-slide2">
              <div class="testimonial-content">
                <div class="d-flex align-items-center">
                  <img
                    src="assets/images/landingpage/logos/rothe.png"
                    alt="Hope Rothe"
                    class="rounded-circle"
                    width="60"
                  />
                  <div class="m-l-16">
                    <h6 class="mat-subtitle-1 f-s-18 f-w-600 m-b-4">
                      Hope Rothe
                    </h6>
                    <div class="d-flex">
                      <i-tabler
                        name="star-filled"
                        class="fill-warning icon-16"
                      ></i-tabler>
                      <i-tabler
                        name="star-filled"
                        class="fill-warning icon-16 m-l-2"
                      ></i-tabler>
                      <i-tabler
                        name="star-filled"
                        class="fill-warning icon-16 m-l-2"
                      ></i-tabler>
                      <i-tabler
                        name="star-filled"
                        class="fill-warning icon-16 m-l-2"
                      ></i-tabler>
                      <i-tabler
                        name="star-filled"
                        class="fill-warning icon-16 m-l-2"
                      ></i-tabler>
                    </div>
                  </div>
                </div>
                <p class="m-t-16 testimonial-text">
                  "Amazing virtual assistants! It's shocking how much impact a
                  couple of talented people can have on your business. Rome Law
                  Firm is more efficient than ever."
                </p>
              </div>
            </div>

            <!-- Testimonio 5 -->
            <div class="slider-img testimonial-slide2">
              <div class="testimonial-content">
                <div class="d-flex align-items-center">
                  <img
                    src="assets/images/landingpage/logos/white.png"
                    alt="Robert White"
                    class="rounded-circle"
                    width="60"
                  />
                  <div class="m-l-16">
                    <h6 class="mat-subtitle-1 f-s-18 f-w-600 m-b-4">
                      Robert White
                    </h6>
                    <div class="d-flex">
                      <i-tabler
                        name="star-filled"
                        class="fill-warning icon-16"
                      ></i-tabler>
                      <i-tabler
                        name="star-filled"
                        class="fill-warning icon-16 m-l-2"
                      ></i-tabler>
                      <i-tabler
                        name="star-filled"
                        class="fill-warning icon-16 m-l-2"
                      ></i-tabler>
                      <i-tabler
                        name="star-filled"
                        class="fill-warning icon-16 m-l-2"
                      ></i-tabler>
                      <i-tabler
                        name="star-filled"
                        class="fill-warning icon-16 m-l-2"
                      ></i-tabler>
                    </div>
                  </div>
                </div>
                <p class="m-t-16 testimonial-text">
                  "We are so happy with our remote assistants! They are a
                  tremendous asset for our firm. Their dedication and expertise
                  have transformed our operations."
                </p>
              </div>
            </div>

            <!-- Testimonio 6 -->
            <div class="slider-img testimonial-slide2">
              <div class="testimonial-content">
                <div class="d-flex align-items-center">
                  <img
                    src="assets/images/landingpage/logos/love.png"
                    alt="Sarah Thompson"
                    class="rounded-circle"
                    width="60"
                  />
                  <div class="m-l-16">
                    <h6 class="mat-subtitle-1 f-s-18 f-w-600 m-b-4">
                      Sarah Thompson
                    </h6>
                    <div class="d-flex">
                      <i-tabler
                        name="star-filled"
                        class="fill-warning icon-16"
                      ></i-tabler>
                      <i-tabler
                        name="star-filled"
                        class="fill-warning icon-16 m-l-2"
                      ></i-tabler>
                      <i-tabler
                        name="star-filled"
                        class="fill-warning icon-16 m-l-2"
                      ></i-tabler>
                      <i-tabler
                        name="star-filled"
                        class="fill-warning icon-16 m-l-2"
                      ></i-tabler>
                      <i-tabler
                        name="star-filled"
                        class="fill-warning icon-16 m-l-2"
                      ></i-tabler>
                    </div>
                  </div>
                </div>
                <p class="m-t-16 testimonial-text">
                  "Thank you Inimble! We're so happy since we started working
                  with you. Our business has grown tremendously since we brought
                  your team in. We can't believe how well everything worked
                  out!"
                </p>
              </div>
            </div>

            <!-- Testimonio 6 -->
            <div class="slider-img testimonial-slide2">
              <div class="testimonial-content">
                <div class="d-flex align-items-center">
                  <img
                    src="assets/images/landingpage/logos/thompson.png"
                    alt="Sarah Thompson"
                    class="rounded-circle"
                    width="60"
                  />
                  <div class="m-l-16">
                    <h6 class="mat-subtitle-1 f-s-18 f-w-600 m-b-4">
                      Sarah Thompson
                    </h6>
                    <div class="d-flex">
                      <i-tabler
                        name="star-filled"
                        class="fill-warning icon-16"
                      ></i-tabler>
                      <i-tabler
                        name="star-filled"
                        class="fill-warning icon-16 m-l-2"
                      ></i-tabler>
                      <i-tabler
                        name="star-filled"
                        class="fill-warning icon-16 m-l-2"
                      ></i-tabler>
                      <i-tabler
                        name="star-filled"
                        class="fill-warning icon-16 m-l-2"
                      ></i-tabler>
                      <i-tabler
                        name="star-filled"
                        class="fill-warning icon-16 m-l-2"
                      ></i-tabler>
                    </div>
                  </div>
                </div>
                <p class="m-t-16 testimonial-text">
                  "Thank you Inimble! We're so happy since we started working
                  with you. Our business has grown tremendously since we brought
                  your team in. We can't believe how well everything worked
                  out!"
                </p>
              </div>
            </div>

            <!-- Testimonio 7 -->
            <div class="slider-img testimonial-slide2">
              <div class="testimonial-content">
                <div class="d-flex align-items-center">
                  <img
                    src="assets/images/landingpage/logos/alexandroff.png"
                    alt="Selena"
                    class="rounded-circle"
                    width="60"
                  />
                  <div class="m-l-16">
                    <h6 class="mat-subtitle-1 f-s-18 f-w-600 m-b-4">Selena</h6>
                    <div class="d-flex">
                      <i-tabler
                        name="star-filled"
                        class="fill-warning icon-16"
                      ></i-tabler>
                      <i-tabler
                        name="star-filled"
                        class="fill-warning icon-16 m-l-2"
                      ></i-tabler>
                      <i-tabler
                        name="star-filled"
                        class="fill-warning icon-16 m-l-2"
                      ></i-tabler>
                      <i-tabler
                        name="star-filled"
                        class="fill-warning icon-16 m-l-2"
                      ></i-tabler>
                      <i-tabler
                        name="star-filled"
                        class="fill-warning icon-16 m-l-2"
                      ></i-tabler>
                    </div>
                  </div>
                </div>
                <p class="m-t-16 testimonial-text">
                  "Daniels has been the best assistant I've had. She is smart,
                  kind, hardworking, and helpful. She takes initiative and is
                  always on top of everything. We make a great team!"
                </p>
              </div>
            </div>

            <!-- Testimonio 8 -->
            <div class="slider-img testimonial-slide2">
              <div class="testimonial-content">
                <div class="d-flex align-items-center">
                  <img
                    src="assets/images/landingpage/logos/14.jpeg"
                    alt="Imelsia Rodriguez"
                    class="rounded-circle"
                    width="60"
                  />
                  <div class="m-l-16">
                    <h6 class="mat-subtitle-1 f-s-18 f-w-600 m-b-4">
                      Imelsia Rodriguez
                    </h6>
                    <div class="d-flex">
                      <i-tabler
                        name="star-filled"
                        class="fill-warning icon-16"
                      ></i-tabler>
                      <i-tabler
                        name="star-filled"
                        class="fill-warning icon-16 m-l-2"
                      ></i-tabler>
                      <i-tabler
                        name="star-filled"
                        class="fill-warning icon-16 m-l-2"
                      ></i-tabler>
                      <i-tabler
                        name="star-filled"
                        class="fill-warning icon-16 m-l-2"
                      ></i-tabler>
                      <i-tabler
                        name="star-filled"
                        class="fill-warning icon-16 m-l-2"
                      ></i-tabler>
                    </div>
                  </div>
                </div>
                <p class="m-t-16 testimonial-text">
                  "Henry has truly exceeded our expectations. He has an amazing
                  work ethic and discipline. We love his practicality and
                  eagerness to learn. He has become part of our Venezuelan
                  family."
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ------------------------------------------------------------------
    End Template
    ------------------------------------------------------------------ -->
    <div class="bg-white">
      <div class="container spacer">
        <div class="bg-green rounded p-32 position-relative">
          <div class="row justify-content-center align-items-center">
            <div class="col-lg-8 text-center m-auto">
              <h3
                class="m-t-0 section-title2 text-white m-b-16"
                style="line-height: 1.1"
              >
                One Click to Everything You Need Access
              </h3>

              <p class="text-center f-s-18 m-t-12 m-b-32 text-white">
                All your Inimble tools—from HR to IT support to project
                management—in a single, organized space. Eliminate tab chaos and
                work more efficiently.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Chat Section -->
    <div class="spacer bg-white">
      <div class="container">
        <div class="row m-t-40 justify-content-center align-items-stretch">
          <div
            class="col-md-5 m-b-24 d-flex flex-column justify-content-center"
          >
            <div class="h-100 p-40 text-center">
              <h2 class="section-title m-b-16 f-w-700">Chat</h2>
              <p class="f-s-18 m-b-0">
                Professional Team Communication Integrated team messaging with
                organized channels, direct messages, and file sharing. Keep your
                communication secure, searchable, and productive.
              </p>
            </div>
          </div>
          <div
            class="col-md-1 d-none d-md-flex align-items-center justify-content-center"
          ></div>
          <div
            class="col-md-6 m-t-md-0 m-t-32 m-b-24 d-flex flex-column justify-content-center"
          >
            <div class="h-100 p-40 bg-white">
              <img
                src="assets/images/landingpage/background/c2a.png"
                alt="img"
                width="596"
                class="c2a-img d-none d-lg-flex"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Calendar Section -->
    <div class="spacer">
      <div class="container">
        <div class="row m-t-40 justify-content-center align-items-stretch">
          <div
            class="col-md-6 m-t-md-0 m-t-32 m-b-24 d-flex flex-column justify-content-center"
          >
            <div class="h-100 p-40 bg-white">
              <img
                src="assets/images/landingpage/background/c2a.png"
                alt="img"
                width="596"
                class="c2a-img d-none d-lg-flex"
              />
            </div>
          </div>
          <div
            class="col-md-5 m-b-24 d-flex flex-column justify-content-center"
          >
            <div class="h-100 p-40 m-l-32 text-center">
              <h2 class="section-title m-b-16 f-w-700">Calendar</h2>
              <p class="f-s-18 m-b-0">
                Plan, Sync, Execute Schedule tasks, team meetings, and key
                deadlines. Sync with your preferred tools and keep everyone
                aligned with shared visibility.
              </p>
            </div>
          </div>
          <div
            class="col-md-1 d-none d-md-flex align-items-center justify-content-center"
          ></div>
        </div>
      </div>
    </div>

    <!-- Kanban Section -->
    <div class="spacer bg-white">
      <div class="container">
        <div class="row m-t-40 justify-content-center align-items-stretch">
          <div
            class="col-md-5 m-b-24 d-flex flex-column justify-content-center"
          >
            <div class="h-100 p-40 text-center">
              <h2 class="section-title m-b-16 f-w-700">Kanban</h2>
              <p class="f-s-18 m-b-0">
                Visual Project Management Use our drag-and-drop Kanban boards to
                assign tasks, track stages, and manage workflows with ease.
                Built for remote collaboration and visibility.
              </p>
            </div>
          </div>
          <div
            class="col-md-1 d-none d-md-flex align-items-center justify-content-center"
          ></div>
          <div
            class="col-md-6 m-t-md-0 m-t-32 m-b-24 d-flex flex-column justify-content-center"
          >
            <div class="h-100 p-40 bg-white">
              <img
                src="assets/images/landingpage/background/c2a.png"
                alt="img"
                width="596"
                class="c2a-img d-none d-lg-flex"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Time Tracker Section -->
    <div class="spacer">
      <div class="container">
        <div class="row m-t-40 justify-content-center align-items-stretch">
          <div
            class="col-md-6 m-t-md-0 m-t-32 m-b-24 d-flex flex-column justify-content-center"
          >
            <div class="h-100 p-40 bg-white">
              <img
                src="assets/images/landingpage/background/c2a.png"
                alt="img"
                width="596"
                class="c2a-img d-none d-lg-flex"
              />
            </div>
          </div>
          <div
            class="col-md-5 m-b-24 d-flex flex-column justify-content-center"
          >
            <div class="h-100 p-40 m-l-32 text-center">
              <h2 class="section-title m-b-16 f-w-700">Time Tracker</h2>
              <p class="f-s-18 m-b-0">
                Time is Money—Track It Right Log work hours, monitor activity
                levels, and generate productivity reports. Our built-in time
                tracker helps you optimize performance and manage payroll
                accurately.
              </p>
            </div>
          </div>
          <div
            class="col-md-1 d-none d-md-flex align-items-center justify-content-center"
          ></div>
        </div>
      </div>
    </div>

    <!-- ToDo Section -->
    <div class="spacer bg-white">
      <div class="container">
        <div class="row m-t-40 justify-content-center align-items-stretch">
          <div
            class="col-md-5 m-b-24 d-flex flex-column justify-content-center"
          >
            <div class="h-100 p-40 text-center">
              <h2 class="section-title m-b-16 f-w-700">ToDo</h2>
              <p class="f-s-18 m-b-0">
                Stay Focused with Clear Priorities Personal and team-wide task
                management. Break down bigger goals into actionable items and
                ensure nothing falls through the cracks.
              </p>
            </div>
          </div>
          <div
            class="col-md-1 d-none d-md-flex align-items-center justify-content-center"
          ></div>
          <div
            class="col-md-6 m-t-md-0 m-t-32 m-b-24 d-flex flex-column justify-content-center"
          >
            <div class="h-100 p-40 bg-white">
              <img
                src="assets/images/landingpage/background/c2a.png"
                alt="img"
                width="596"
                class="c2a-img d-none d-lg-flex"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ------------------------------------------------------------------
    buy section
    ------------------------------------------------------------------ -->
    <div class="bg-white">
      <div class="container spacer">
        <div class="bg-green rounded p-32 position-relative">
          <div class="row justify-content-between">
            <div class="col-lg-6">
              <h3
                class="m-t-0 section-title2 text-white m-b-8"
                style="line-height: 1.1"
              >
                Haven't found an answer to your question?
              </h3>
              <span class="f-s-16 m-b-30 p-b-10 m-t-8 d-block text-white"
                >Connect with us</span
              >
              <div class="hstack">
                <a
                  mat-flat-button
                  href="/authentication/maintenance"
                  color="primary"
                  class="btn-custom sm"
                  style="
                    background-color: #c4e57f;
                    font-weight: 800;
                    color: #818181;
                  "
                  >Try Inimble for free</a
                >
                <a
                  mat-stroked-button
                  href="/authentication/maintenance"
                  color="primary"
                  class="btn-custom sm border-white text-white"
                  >Book a free consultation</a
                >
              </div>
            </div>
            <div class="col-lg-5 text-right">
              <!-- <img
                src="assets/images/landingpage/background/c2a.png"
                alt="img"
                width="596"
                class="c2a-img d-none d-lg-flex"
              /> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="spacer bg-white">
  <div class="container">
    <h2 class="section-title f-w-700 m-y-30 text-center">
      What Our Clients Say
    </h2>
    
    <div class="testimonial-carousel">
      <div class="carousel-inner">
        <!-- Testimonio 1 -->
        <div class="carousel-item active">
          <div class="p-24">
            <div class="d-flex align-items-center justify-content-center">
              <i-tabler name="star-filled" class="fill-warning icon-26"></i-tabler>
              <i-tabler name="star-filled" class="fill-warning icon-26 m-l-4"></i-tabler>
              <i-tabler name="star-filled" class="fill-warning icon-26 m-l-4"></i-tabler>
              <i-tabler name="star-filled" class="fill-warning icon-26 m-l-4"></i-tabler>
              <i-tabler name="star-filled" class="fill-warning icon-26 m-l-4"></i-tabler>
            </div>
            <p class="m-t-24 review-subtext text-center f-w-500">
              "This template is great, UI-rich and up-to-date. Although it is pretty much complete, I suggest to improve a bit of documentation. Thanks & Highly recomended!"
            </p>
            <div class="d-flex align-items-center justify-content-center m-t-24">
              <img src="assets/images/profile/user-1.jpg" alt="profile" class="rounded-circle" width="64">
              <div class="m-l-12">
                <h6 class="mat-subtitle-1 f-s-16 f-w-600">Eminson Mendoza</h6>
                <span class="f-s-14">Features avaibility</span>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Testimonio 2 -->
        <div class="carousel-item">
          <div class="p-24">
            <div class="d-flex align-items-center justify-content-center">
              <i-tabler name="star-filled" class="fill-warning icon-26"></i-tabler>
              <i-tabler name="star-filled" class="fill-warning icon-26 m-l-4"></i-tabler>
              <i-tabler name="star-filled" class="fill-warning icon-26 m-l-4"></i-tabler>
              <i-tabler name="star-filled" class="fill-warning icon-26 m-l-4"></i-tabler>
              <i-tabler name="star-filled" class="fill-warning icon-26 m-l-4"></i-tabler>
            </div>
            <p class="m-t-24 review-subtext text-center f-w-500">
              "Inimble has transformed how we manage remote teams. The dashboard gives us real-time insights we never had before. Highly recommended!"
            </p>
            <div class="d-flex align-items-center justify-content-center m-t-24">
              <img src="assets/images/landingpage/logos/smith.png" alt="profile" class="rounded-circle" width="64">
              <div class="m-l-12">
                <h6 class="mat-subtitle-1 f-s-16 f-w-600">John Smith</h6>
                <span class="f-s-14">Operations Director</span>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Testimonio 3 -->
        <div class="carousel-item">
          <div class="p-24">
            <div class="d-flex align-items-center justify-content-center">
              <i-tabler name="star-filled" class="fill-warning icon-26"></i-tabler>
              <i-tabler name="star-filled" class="fill-warning icon-26 m-l-4"></i-tabler>
              <i-tabler name="star-filled" class="fill-warning icon-26 m-l-4"></i-tabler>
              <i-tabler name="star-filled" class="fill-warning icon-26 m-l-4"></i-tabler>
              <i-tabler name="star-filled" class="fill-warning icon-26 m-l-4"></i-tabler>
            </div>
            <p class="m-t-24 review-subtext text-center f-w-500">
              "The time tracking features alone have increased our productivity by 30%. The interface is intuitive and our team adopted it immediately."
            </p>
            <div class="d-flex align-items-center justify-content-center m-t-24">
              <img src="assets/images/landingpage/logos/sandoval.png" alt="profile" class="rounded-circle" width="64">
              <div class="m-l-12">
                <h6 class="mat-subtitle-1 f-s-16 f-w-600">Jessica Sandoval</h6>
                <span class="f-s-14">HR Manager</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Controles del carrusel -->
      <button class="carousel-control prev" (click)="prevSlide()">
        <i-tabler name="chevron-left" class="icon-30"></i-tabler>
      </button>
      <button class="carousel-control next" (click)="nextSlide()">
        <i-tabler name="chevron-right" class="icon-30"></i-tabler>
      </button>
      
      <!-- Indicadores -->
      <div class="carousel-indicators">
        <span class="active" (click)="goToSlide(0)"></span>
        <span (click)="goToSlide(1)"></span>
        <span (click)="goToSlide(2)"></span>
      </div>
    </div>
  </div>
</div>

    <!-- ------------------------------------------------------------------
    footer
    ------------------------------------------------------------------ -->

    <app-footer></app-footer>

    <!-- ------------------------------------------------------------------
    end footer
    ------------------------------------------------------------------ -->
  </mat-sidenav-content>

  <!-- ------------------------------------------------------------------
    Mobile Sidebar
    ------------------------------------------------------------------ -->
  <mat-sidenav
    #filterNavRight
    mode="over"
    position="end"
    class="filter-sidebar"
  >
    <div>
      <div class="branding">
        <app-branding></app-branding>
      </div>

      <mat-accordion>
        <mat-expansion-panel class="shadow-none">
          <mat-expansion-panel-header>
            <mat-panel-title class="f-s-16 f-w-500"> Demos </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <h5 class="f-s-18 mat-subtitle-1 f-w-600">Different Demos</h5>
            <span>Included with the package</span>
            <div class="row m-t-24">
              @for(demo of demos; track demo.url) {
              <div class="col-lg-3 m-b-16">
                <div>
                  <div class="img-overlay rounded">
                    <img
                      [src]="demo.imgSrc"
                      alt="demos"
                      class="rounded w-100"
                    />
                    <div class="overlay-content">
                      <a href="{{ demo.url }}" mat-flat-button color="primary">
                        Live preview
                      </a>
                    </div>
                  </div>
                  <span class="f-s-14 d-block text-center m-t-8">{{
                    demo.name
                  }}</span>
                </div>
              </div>
              }
            </div>
            <!-- apps -->
            <h5 class="f-s-18 mat-subtitle-1 f-w-600 m-t-24">Different Apps</h5>
            <div class="row m-t-24">
              @for(app of appdemos; track app.name) {
              <div class="col-lg-3 m-t-16">
                <div>
                  <div class="img-overlay rounded">
                    <img [src]="app.imgSrc" alt="apps" class="rounded w-100" />
                    <div class="overlay-content">
                      <a href="{{ app.url }}" mat-flat-button color="primary">
                        Live preview
                      </a>
                    </div>
                  </div>
                  <span class="f-s-14 d-block text-center m-t-8">{{
                    app.name
                  }}</span>
                </div>
              </div>
              }
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="shadow-none">
          <mat-expansion-panel-header>
            <mat-panel-title class="f-s-16 f-w-500"> Pages </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <div class="row">
              @for(appdd of apps; track appdd.title) {
              <div class="col-12 text-hover-primary">
                <a
                  [routerLink]="[appdd.link]"
                  class="d-flex align-items-center text-decoration-none m-b-24"
                >
                  <button
                    mat-mini-fab
                    class="text-primary bg-light-primary shadow-none rounded"
                  >
                    <img [src]="appdd.img" width="20" />
                  </button>

                  <div class="m-l-16">
                    <h5
                      class="f-s-14 f-w-600 m-0 textprimary mat-body-1 hover-text"
                    >
                      {{ appdd.title }}
                    </h5>
                    <span class="mat-body-1 f-s-12">{{ appdd.subtitle }}</span>
                  </div>
                </a>
              </div>
              }
            </div>
            <h4 class="f-s-18 f-w-600 mat-subtitle-1 m-b-16">Quick Links</h4>
            @for(quicklink of quicklinks; track quicklink.title) {
            <div class="text-hover-primary">
              <a
                [routerLink]="['quicklink.link']"
                class="hover-text text-decoration-none mat-body-1 f-w-600 d-block p-y-8"
                >{{ quicklink.title }}</a
              >
            </div>
            }
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <div class="p-x-16">
        <a
          href="
            https://demos.wrappixel.com/premium-admin-templates/angular/spike-angular/docs/index.html
          "
          class="d-flex align-items-center text-decoration-none mat-body-1 p-y-16"
        >
          <span class="f-s-15 f-w-500 m-l-8">Documentation</span>
        </a>
        <a
          [routerLink]="['https://support.wrappixel.com/']"
          class="d-flex align-items-center text-decoration-none mat-body-1 p-y-16"
        >
          <span class="f-s-15 f-w-500 m-l-8">Support</span>
        </a>
        <a mat-flat-button color="primary" class="w-100" [routerLink]="['/']"
          >Buy Now</a
        >
      </div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
