<h2 mat-dialog-title>
  {{ action === 'edit' ? 'Edit Event' : 'Add New Event' }}
</h2>

<mat-dialog-content>
  <form [formGroup]="eventForm">
    <div class="row">

      <div class="col-12 m-t-5">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Event</mat-label>
          <input matInput formControlName="event" />
          <mat-error *ngIf="eventForm.get('event')?.invalid">
            Event name is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
          <mat-error *ngIf="eventForm.get('description')?.invalid">
            Description is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Type</mat-label>
          <mat-select formControlName="type">
            <mat-option *ngFor="let t of types" [value]="t">
              {{ t.replace('_', ' ') | titlecase }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="eventForm.get('type')?.invalid">
            Type is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Pick a date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="Select a date"
            [min]="today"
            formControlName="date"
            required
          />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker (dateChange)="onDateChange($event)"></mat-datepicker>
          <mat-error *ngIf="eventForm.get('date')?.invalid">
            Date is required
          </mat-error>
          <mat-error *ngIf="eventForm.get('date')?.hasError('minDate')">
            Date cannot be in the past
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Time</mat-label>
          <input matInput type="time" formControlName="time">
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    mat-flat-button
    color="primary"
    (click)="onSubmit()"
    [disabled]="eventForm.invalid"
  >
    Save
  </button>

  <button mat-button (click)="onCancel()" class="bg-error text-white">
    Cancel
  </button>
</mat-dialog-actions>