<h2 mat-dialog-title style="text-align: center;">Add new {{ data.type }}</h2>
<mat-dialog-content style="text-align: center;">

  <mat-select 
    *ngIf="data.type == 'department'" 
    name="department"
    id="department-selector" 
    (selectionChange)="departmentSelection($event)"
  >
    <mat-option disabled default>
      Select a department
    </mat-option>
    <mat-option 
      *ngFor="let dept of data.departments"
      [value]="dept.id"
    > 
      {{ dept.name }}
    </mat-option>
  </mat-select>
  
  <mat-select 
    *ngIf="data.type == 'position'" 
    name="position" 
    id="position-selector" 
    (selectionChange)="positionSelection($event)"
  >
    <mat-option disabled default>
      Select a position
    </mat-option>
    <mat-option 
      *ngFor="let pos of data.positions" 
      [value]="pos.id" 
    >
      {{ pos.title }}
    </mat-option>
    <mat-option value="0">
      Other
    </mat-option>
  </mat-select>

  <mat-form-field *ngIf="otherPosition" id="position-name">
    <mat-label>Other Position</mat-label>
    <input matInput type="text" placeholder="Position Title" [(ngModel)]="selected" />
  </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions class="d-flex flex-end">
  <div class="w-100 d-flex justify-content-center">
  <button
    mat-button
    class="rounded shadow px-4 py-1 btn btn-primary"
    [mat-dialog-close]="selected"
    [disabled]="!selected"
  >
    Add
  </button>
  </div>
</mat-dialog-actions>
