#position-selector, #department-selector {
    background: #f5f5f5;
    padding: .3rem 1rem;
    border-radius: 5px;
    margin: 1rem 0;
    height: 3rem;
    line-height: 2.5rem;
}

#position-name {
    width: 100%!important;
}