cometchat-conversations-with-messages,
cometchat-groups-with-messages {
  height: 80vh;
}
cometchat-conversations-with-messages > div.cc-with-messages__wrapper,
cometchat-groups-with-messages > div.cc-with-messages__wrapper, 
cometchat-messages > div.cc-message-list__wrapper,
cometchat-messages div.cc-messages {
  border-radius: 16px;
  border: none!important;
}
cometchat-conversations-with-messages > div.cc-with-messages__wrapper > div.cc-with-messages__sidebar,
cometchat-groups-with-messages > div.cc-with-messages__wrapper > div.cc-with-messages__sidebar,
cometchat-conversations-with-messages > div.cc-with-messages__wrapper > div.cc-with-messages__main,
cometchat-groups-with-messages > div.cc-with-messages__wrapper > div.cc-with-messages__main,
cometchat-conversations-with-messages > div.cc-with-messages__wrapper > div.cc-with-messages__start-conversation,
cometchat-groups-with-messages > div.cc-with-messages__wrapper > div.cc-with-messages__start-conversation {
  padding: 10px 0;
}
cometchat-conversations-with-messages > div.cc-with-messages__wrapper > div.cc-with-messages__sidebar,
cometchat-groups-with-messages > div.cc-with-messages__wrapper > div.cc-with-messages__sidebar {
  padding-left: 10px;
}

#outgoingCall {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(84 84 84 / 49%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat-list {
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 1rem;
  display: flex;

  &.even {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
    text-align: right;
  }
}

.chat-app {
  .mat-drawer {
    width: 320px;
  }
  .ng-scroll-content {
    display: block !important;
  }
}

.chat-listing {
  .mdc-list-item {
    height: 75px;
    display: flex;
    align-items: center;

    .mdc-list-item__primary-text {
      margin-bottom: -23px !important;
    }
  }
}
cometchat-message-bubble div.cc-message-bubble div.cc-message-bubble__content {
  padding: 5px!important;
  border-radius: 16px!important;
}