#outgoingCall {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(84 84 84 / 49%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.message {
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 1rem;
  display: flex;

  > div {
    max-width: 50%;
  }

  &.even {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
    text-align: right;
  }
  &.call {
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 10px;
    border-radius: 12px;
    div > div {
      flex-direction: column!important;
      padding: 10px 50px!important;
    }
  }
}

.chat-app {
  .mat-drawer {
    width: 320px;
  }
  .ng-scroll-content {
    display: block !important;
  }
}

.chat-listing {
  .mdc-list-item {
    height: 75px;
    display: flex;
    align-items: center;

    .mdc-list-item__primary-text {
      margin-bottom: -23px !important;
    }
  }
}