<main class="container">
  <section class="card rounded">
    <div class="card-header">
      <h4 class="mb-0">Transaction History:</h4>
    </div>
    <div class="card-body">
      <div *ngIf="payments">
        <div class="card p-2 mb-2" *ngFor="let payment of payments">
          <div class="row align-items-center">
            <div class="col-8">
              <h5>${{ payment.currency.name }} {{ payment.amount }}</h5>
              <p>{{ payment.updated_at | date : "EEEE, dd/MM/YYYY" }}</p>
            </div>
            <div class="col-4">
               <a (click)="viewMore(payment)"
                style="text-decoration: underline;"
                data-bs-toggle="modal"
                data-bs-target="#invoice">See more</a>
            </div>
          </div>

        </div>
      </div>
      <p *ngIf="payments.length == 0">No available records...</p>
    </div>
  </section>

  <!-- Modal -->
  <div class="modal fade" id="invoice" tabindex="-1" aria-labelledby="modalInvoice" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalInvoice">Detalles del pago</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="fw-bold mb-0">Cliente:</p>
          <p>{{ name }} {{ last_name }}</p>
          <p class="fw-bold mb-0">Fecha:</p>
          <p>{{ selectedPayment?.updated_at | date : "EEEE, dd/MM/YYYY" }}</p>
          <p class="fw-bold mb-0">Descripción:</p>
          <p>{{ selectedPayment?.description }}</p>
          <p class="fw-bold mb-0">Monto:</p>
          <p>${{ selectedPayment?.currency.name }} {{ selectedPayment?.amount }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="downloadPDF()">Descargar PDF</button>
        </div>
      </div>
    </div>
  </div>
</main>


