 <div class="card">
  <div class="card-header px-5 d-flex justify-content-between align-items-center">
    <h1 class="modal-title fs-5" id="exampleModalLabel">Create New Password</h1>
    <mat-dialog-actions>
      <button
        mat-button
        class="btn-close"
        aria-label="Close"
        [mat-dialog-close]="true"
      >
      </button>
    </mat-dialog-actions>
  </div>
  <div class="card-body">
    <div class="card-body position-relative i-flow">
      <form action="" class="p-1 mb-2" [formGroup]="userForm" (ngSubmit)="submitUserForm()">
        <div class="form-group mb-3">
          <input
            type="password"
            class="form-control p-2 mb-3"
            formControlName="password"
            placeholder="Password" />
          <input
            type="password"
            class="form-control p-2 mb-3"
            formControlName="cpassword"
            placeholder="Confirm Password" />
        </div>
        <div class="d-flex position-relative justify-content-between align-items-center">
          <app-loader [loader]="loader" [message]="message"></app-loader>
          <div>
            <button
              color="primary"
              mat-raised-button
              class="btn btn-primary btn-block btn-hover transition rounded px-4 ms-2">
              Save
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
