<div class="d-flex flex-row justify-content-between align-items-center">
  <h2 mat-dialog-title style="max-width: 70%">{{ data.position.title }}</h2>
  <mat-dialog-actions class="d-flex flex-end">
    <div class="w-100 d-flex justify-content-center">
    <button
      mat-button
      class="ms-2 rounded shadow px-4 py-1 btn btn-danger"
      [mat-dialog-close]="true"
    >
      <i class="fa-solid fa-xmark"></i>
    </button>
    </div>
  </mat-dialog-actions>
</div>
<mat-dialog-content>
  <p *ngIf="data.position.description && data.position.description != ''" class="mb-4"><strong>Position description:</strong> {{ data.position.description }}</p>
  <ul *ngIf="data.isHired && data.employeesHired.length > 0; else hireMessage" class="position-cont">
    <li *ngFor="let employee of data.employeesHired">
      <mat-card class="d-flex flex-row justify-content-between align-items-center mb-4 p-4 glass-effect">
        <div class="employee-info">
          <div>
            <i class="fa-solid fa-user"></i>
            <p>{{employee.user.name}} {{employee.user.last_name}}</p>
          </div>
          <p><b>Position:</b> {{data.position.title}}</p>
        </div>
        <a 
          class="rate-link" 
          routerLink="/client/ratings/{{employee.user.id}}/" 
          [mat-dialog-close]="true"
          *ngIf="userType != '3' || (userType == '3' && (plan && plan.id > 1))"
        >
          See To Do
        </a>
      </mat-card>
    </li>
  </ul>
  <ng-template #hireMessage>
    <div class="d-flex flex-column justify-content-center mt-8">
      <p>
        It looks like you haven't filled this position yet with Inimble.
      </p>
      <a 
        class="btn btn-primary mt-4 align-self-center"
        [href]="pageWP"
        target="_blank"
      >
        Hire Now
      </a>
    </div>
  </ng-template>
</mat-dialog-content>
