<div class="card rounded-1 shadow overflow-hidden">
  <div
    class="card-header rounded-top-1"
    [ngClass]="{ 'bg-primary': !suspicious, 'bg-danger': suspicious }"
  >
    <div class="row align-items-center">
      <p class="fs-5 text-white col-12 col-sm mb-0">
        <ng-template [ngIf]="isToday(entry.start_time)" [ngIfElse]="elseBlock">
          {{ isToday(entry.start_time) }}
        </ng-template>
        <ng-template #elseBlock>
          {{ entry.start_time | date : "EEEE" }},
          {{ entry.start_time | customDate : "MMM D" }}
        </ng-template>
      </p>
      <span class="text-white col-auto"
        >Project: {{ entry.project_id ? entry.project : "none" }}</span
      >
      <div
        class="col-sm-auto col-12 text-end d-flex gap-2 flex-wrap justify-content-end"
      >
        <p class="fw-bolder fs-5 mb-0 text-light text-end">
          Total: {{ getTotalHours(entry.start_time, entry.end_time) }}
        </p>
      </div>
    </div>
  </div>
  <div
    class="card-body p-2 d-flex justify-content-center flex-wrap"
    [ngClass]="{ 'bg-accent': suspicious }"
  >
    <form class="col-12 col-sm text-center d-flex flex-wrap">
      <div [ngClass]="admin ? 'col-lg-2 col-md-2 col-6 p-1 d-flex' : 'col-lg-1 col-md-1 col-6 p-1 d-flex'">
        <div class="date-wrapper" *ngIf="admin">
          <input 
            type="date" 
            name="start_date" 
            id="start_date" 
            class="form-control text-center p-1 border rounded-2" 
            [value]="startDate"
            (ngModelChange)="(entry.start_time)"
            (change)="updateStart_date(entry, $event)"
          />
          <i class="fa-regular fa-calendar"></i>
        </div>
        <input
          [readonly]="!admin"
          type="text"
          name="start_time"
          class="form-control text-center p-2 border rounded-2"
          [ngModel]="entry.start_time | customDate : 'HH:mm'"
          [ngModelOptions]="{ standalone: true }"
          (ngModelChange)="(entry.start_time)"
          (focus)="timeFormat($event)"
          (blur)="updateStart_time(entry, $event)"
          (keydown.enter)="updateStart_time(entry, $event)"
        />
      </div>
      <div [ngClass]="admin ? 'col-lg-2 col-md-2 col-6 p-1 d-flex' : 'col-lg-1 col-md-1 col-6 p-1 d-flex'">
        <div class="date-wrapper" *ngIf="admin">
          <input 
            type="date" 
            name="end_date" 
            id="end_date" 
            class="form-control text-center p-1 border rounded-2" 
            [value]="endDate"
            (ngModelChange)="(entry.end_time)"
            (change)="updateEnd_date(entry, $event)"
          />
          <i class="fa-regular fa-calendar"></i>
        </div>
        <input
          [readonly]="!admin"
          type="text"
          name="end_time"
          class="form-control text-center p-2 border rounded-1"
          [ngModel]="entry.end_time | customDate : 'HH:mm'"
          [ngModelOptions]="{ standalone: true }"
          (ngModelChange)="(entry.end_time)"
          (focus)="timeFormat($event)"
          (blur)="updateEnd_time(entry, $event)"
          (keydown.enter)="updateEnd_time(entry, $event)"
        />
      </div>
      <div [ngClass]="admin ? 'col-lg-8 col-md-8 col-12 p-1' : 'col-lg-10 col-md-10 col-12 p-1'">
        <input
          [readonly]="!admin"
          type="text"
          name="task"
          class="form-control p-2 border rounded-1"
          [(ngModel)]="entry.description"
          (blur)="updateTask(entry, entry.description)"
          placeholder="Add a comment"
          (keydown.enter)="updateTask(entry, entry.description)"
        />
      </div>
    </form>
    <div class="col-12 col-md-auto d-flex justify-content-end" *ngIf="admin">
      <ng-container *ngFor="let btn of btnActions">
        <div
          *ngIf="!btn.forReview || suspicious"
          class="d-flex align-items-center justify-content-center col btn rounded-1 m-1"
          [ngClass]="btn.class"
          (click)="handleAction(btn.method, entry)"
        >
          <i [class]="btn.icon"></i>
        </div>
      </ng-container>
    </div>
  </div>
</div>
