.date-wrapper {
    position: relative;
    width: 100%;
    margin-right: .5rem;
}
.date-wrapper input[type="date"] {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}
.date-wrapper i {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    pointer-events: none;
    cursor: pointer;
}
[type="date"]::-webkit-inner-spin-button {
    display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}
[type="date"].form-control {
    background-color: #f7f7f9;
}
