<div class="pb-2">
  <div class="card card-hover mb-1 rounded shadow" *ngFor="let company of companies">
    <div
      class="d-flex flex-wrap mx-3 p-1 rounded-top align-items-center justify-content-between justify-content-sm-between gap-2"
    >
      <div class="d-flex flex-column align-items-center align-items-sm-start">
        <a
          (click)="selectCompany(company)"
          class="text-decoration-none mb-0 links d-flex align-items-center"
        >
          <span class="fs-4 fw-bolder"
            >{{ company.name }}</span
          >
        </a>
        <div class="d-flex gap-2">
          <a
            *ngFor="let link of links"
            class="fs-5 fw-bolder links"
            routerLink="{{ link.url }}"
            (click)="setReportInfo(company)"
            >{{ link.title }}</a
          >
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!loaded" class="d-flex justify-content-center">
    <mat-spinner></mat-spinner>
  </div>
</div>
