
#btn-close {
    color: #808080;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    background: none;

}
#btn-close:focus-visible {
    outline: none;
}
#report-date {
    font-size: 1.5rem;
    color: #808080;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0 0 2rem 0;
    letter-spacing: normal;
}
h1 {
    color: #9CB764;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 2.5rem;
    letter-spacing: none;
}
.report-info > div:first-child {
    border: 1px solid #9CB764;
    padding: 1rem;
    border-radius: 20px;
}
.report-info > div:first-child > p {
    color: #808080;
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}
.report-info ul {
    list-style: none;
    padding-left: 0;
}
.report-info ul li {
    margin-bottom: 1rem;
    font-size: 1.25rem;
}
.report-info ul li i  {
    color: #9CB764;
    margin-right: 1rem;
}
.report-info ul li p {
    margin: 0;
    line-height: 1;
    color: #808080;
    font-size: 1rem;
    font-weight: bold;
}

.btn.btn-primary, .btn-primary:hover {
    text-transform: capitalize;
    background: #9CB764!important;
    color: white!important;
    border: none!important;
    border-radius: 23px;
    padding: .25rem 1.5rem;
    margin-top: 2rem;
}