<div class="card mb-3 rounded shadow">
  <div fxLayout="row" class="card-header rounded-top">
    <div class="col-md-12 d-flex justify-content-between">
      <h4 class="mb-0 title">
        @if (userType === '3') {
          {{companyName}}
        }
        @else {
          Hi {{ userName }}!
        }
      </h4>
    </div>
  </div>
  <div class="card-body p-2">
    <form class="col-md-12 form-group" [formGroup]="searchForm">
      <input
        type="text"
        class="form-control rounded"
        formControlName="searchField"
        placeholder="Search a {{searchElement}} by name"
      />
    </form>
  </div>
</div>
