.mat-drawer-inner-container {
    overflow-x: hidden!important;
}

.sidebarNav:hover .branding a > img.iso-logo {
    display: none;
}
.sidebarNav:hover .branding a > img.full-logo {
    display: block;
}