<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="pricing-page">
      <div class="container">
        <div class="text-center m-b-48">
          <h2 class="m-b-16 f-s-44 lh-normal f-w-700 section-sub-title">R3</h2>
          <p class="m-0 f-s-18">
            R3 is a leadership and business operating system built on one simple
            truth:
            <br />
            <b>
              You can't run a company focused on 20 things. You can barely run
              it focused on 3.
            </b>
          </p>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6 p-x-12">
            <mat-card class="mat-mdc-card mdc-card cardWithShadow b-1">
              <mat-card-content>
                <div class="d-flex align-items-center">
                  <h6 class="f-s-20 f-w-600 m-b-16 lh-normal">Compass</h6>
                </div>
                <p class="f-s-14 m-0 lh-normal">
                  Define exactly where you’re going and how your company behaves
                  on the journey.
                </p>
                <div class="m-y-20"></div>
                <button
                  mat-flat-button
                  class="w-100 bg-dark-200"
                  [routerLink]="['compass']"
                >
                  View Compass
                </button>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 p-x-12">
            <mat-card class="mat-mdc-card mdc-card cardWithShadow b-1">
              <mat-card-content>
                <div class="d-flex align-items-center">
                  <h6 class="f-s-20 f-w-600 m-b-16 lh-normal">Blueprint</h6>
                </div>

                <p class="f-s-14 m-0 lh-normal">
                  Design a clear map with annual objectives, quarterly
                  waypoints, dashboards, and real alignment.
                </p>

                <div class="m-y-20"></div>

                <button
                  mat-flat-button
                  class="w-100 bg-dark-200"
                  [routerLink]="['blueprint']"
                >
                  View Blueprint
                </button>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 p-x-12">
            <mat-card class="mat-mdc-card mdc-card cardWithShadow b-1">
              <mat-card-content>
                <div class="d-flex align-items-center">
                  <h6 class="f-s-20 f-w-600 m-b-16 lh-normal">Engine</h6>
                </div>
                <p class="f-s-14 m-0 lh-normal">
                  Execute with ruthless daily clarity — tactical meetings,
                  dashboards, obstacle clearing, and ownership.
                </p>
                <div class="m-y-20"></div>
                <button
                  mat-flat-button
                  color="primary"
                  class="w-100"
                  [routerLink]="['engine']"
                >
                  View Engine
                </button>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<router-outlet></router-outlet>
