<h2 mat-dialog-title>Create a {{ data.type }} Express!</h2>
<mat-dialog-content>
  <div class="d-flex flex-column" [formGroup]="dialogForm">
    <ng-container
      *ngFor="let form of formFields"
      formGroupName="{{ data.type }}"
    >
      <mat-form-field *ngIf="form.type == 'text'">
        <mat-label>{{ form.label }}</mat-label>
        <input matInput formControlName="{{ form.control }}" />
      </mat-form-field>

      <mat-form-field *ngIf="form.type == 'autocomplete'">
        <mat-label>{{ form.label }}</mat-label>
        <input
          matInput
          formControlName="{{ form.control }}"
          [matAutocomplete]="auto"
          (keyup)="search(dialogForm.get(data.type)?.get(form.control)?.value)"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let timezone of timezones"
            value="{{ timezone.zoneName }}:{{ timezone.countryCode }}"
            >{{ timezone.fechaActual }} {{ timezone.zoneName }}</mat-option
          >
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="flex" *ngIf="form.type == 'select'">
        <mat-label>{{ form.label }}</mat-label>
        <mat-select
          multiple
          [value]="scheduleDisplayed"
          (selectionChange)="onDayChange($event.source.value, form.control)"
        >
          <mat-option *ngFor="let day of daysOfWeekOptions" [value]="day.id">
            {{ day.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="form.type == 'time'">
        <mat-label>{{ form.label }}</mat-label>
        <input
          [ngxTimepicker]="picker"
          formControlName="{{ form.control }}"
          matInput />

        <ngx-material-timepicker #picker></ngx-material-timepicker
      ></mat-form-field>
    </ng-container>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="d-flex flex-end">
  <button
    class="ms-2 rounded shadow px-4 py-1 btn btn-primary"
    [disabled]="!validForm"
    (click)="openConfirmationDialog()"
  >
    Yes
  </button>
  <button
    class="ms-2 rounded shadow px-4 py-1 btn btn-danger"
    color="danger"
    [mat-dialog-close]="false"
  >
    Cancel
  </button>
</mat-dialog-actions>
