<h2 mat-dialog-title class="text-center">Notifications</h2>
<mat-dialog-content class="px-3">
  <div *ngIf="(data?.notifications || []).length > 0; else noNotifications">
    <div *ngFor="let notification of data.notifications | slice:0:5" class="d-flex align-items-center mb-3">
      <i
        class="{{ getIcon(notification.type_id) }} me-4 fs-5 d-flex align-items-center justify-content-center"
        [style.color]="getColor(notification.type_id)"
        style="min-width: 24px; height: 24px;"
      ></i>
      <div class="text-start">
        <p class="mb-0">{{ notification.message }}</p>
        <small class="text-muted">{{ notification.createdAt | date: 'short' }}</small>
      </div>
    </div>
  </div>
  <ng-template #noNotifications>
    <p class="text-center my-3">No new notifications</p>
  </ng-template>
</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-center b-t-0">
  <button
    mat-stroked-button
    color="primary"
    routerLink="/dashboards/notifications"
    [mat-dialog-close]="true"
  >
    See all
  </button>
  <button
    mat-flat-button
    color="primary"
    [mat-dialog-close]="true"
  >
    Ok
  </button>
</mat-dialog-actions>
