<div class="row">
  <div class="col-12">
    <mat-card class="mat-card-top cardWithShadow position-relative overflow-hidden p-16">
      <!-- output view -->
      <h4 Ctitle>
        Table dynamically showing stored files
        <span class="f-s-14 f-w-400 d-block">add files dynamically</span>
      </h4>
      <div output>
        <div class="d-flex flex-column d-sm-block align-items-start gap-1 m-b-16 m-t-16">
          <div class="d-flex align-items-center gap-8">
            <button mat-flat-button color="primary" class="m-r-8 file">
              Upload file
              <input
                type="file"
                name="file"
                (change)="onFileSelected($event)"
                accept=".pdf,.docx,.txt,.jpg,.jpeg,.png"
                style="
                  position: absolute;
                  display: block;
                  width: 100%;
                  opacity: 0;
                  top: 0;
                  left: 0;
                  cursor: pointer;"
              />
            </button>
            <span class="f-w-500 f-s-14 f-w-400" *ngIf="selectedFile">
              <!-- File name -->
              {{ selectedFile.name }}
            </span>
          </div>
          <!-- File preview -->
          <span class="f-w-400 f-s-14 m-t-16" *ngIf="selectedFile && selectedFile.type.startsWith('image/')">
            <img [src]="filePreview" alt="File Preview" class="file-preview" />
          </span>
          <!-- Confirm file upload -->
          <button
            mat-flat-button
            color="primary"
            class="m-t-16"
            (click)="uploadFile()"
            [disabled]="!selectedFile"
            *ngIf="selectedFile"
          >
            Confirm file upload
          </button>
        </div>

        <div class="table-responsive m-t-30">
          <table mat-table [dataSource]="data" class="w-100">
            @for(column of displayedColumns; track column) {
            <ng-container [matColumnDef]="column">
              <th mat-header-cell *matHeaderCellDef class="f-w-600  f-s-14 p-l-0">
                {{ column | titlecase }}
              </th>
              <td mat-cell *matCellDef="let element" class="p-l-0 f-s-14">
                @if(column == 'download') {
                  <!-- Button to download file -->
                  <a (click)="downloadFile(element.download, element.name); $event.preventDefault()" style="cursor: pointer;">
                    <i-tabler class="icon-22" name="download"></i-tabler>
                  </a>
                }
                @else if(column == "preview") {
                  <!-- Link to preview file in new tab -->
                  <a [href]="element.preview" target="_blank">
                    <i-tabler class="icon-22" name="eye"></i-tabler>
                  </a>
                }
                @else {
                  {{ element[column] }}
                }
              </td>
            </ng-container>
            }

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
          </table>
        </div>
      </div>
    </mat-card>
  </div>
</div>