<div class="row">
  <div class="col-lg-6">
    <app-welcome-card></app-welcome-card>
  </div>
  <div class="col-lg-6">
    <app-top-cards></app-top-cards>
  </div>
    <div class="col-lg-4 d-flex m-b-30" style="flex-grow: 1;">
      <app-activity-reports [dataSource]="activityDataSource" class="h-100 d-inline-block"></app-activity-reports>
    </div>
    <div class="col-lg-8 m-b-30">
      <app-top-employees (dataSourceChange)="onEmployeesDataSourceChange($event)"></app-top-employees>
    </div>
  <div class="col-lg-8">
    <app-profile-expance></app-profile-expance>
    <app-weekly-hours></app-weekly-hours>
  </div>
  <div class="col-lg-4 d-flex m-b-30" style="flex-direction: column;">
    <app-visit-usa style="flex-grow: 1;"></app-visit-usa>
  </div>
</div>