<div class="row">
  <div class="col-lg-6 m-b-30">
    <app-welcome-card tourAnchor="dash-welcome"></app-welcome-card>
  </div>
  <div class="col-lg-6 m-b-30">
    <app-top-cards class="h-100" tourAnchor="dash-kpis"></app-top-cards>
  </div>
    <div class="col-lg-4 d-flex m-b-30" style="flex-grow: 1;">
      <app-activity-reports [dataSource]="activityDataSource" class="h-100 w-100 d-inline-block" tourAnchor="dash-activity"></app-activity-reports>
    </div>
    <div class="col-lg-8 m-b-30">
      <app-top-employees (dataSourceChange)="onEmployeesDataSourceChange($event)" tourAnchor="dash-team"></app-top-employees>
    </div>
  <div class="col-lg-8">
    <!-- Temporarily disabled ApexCharts components -->
    <div class="cardWithShadow p-16 m-b-30" tourAnchor="dash-productivity">
      <h4 class="m-0">Productivity and pipeline</h4>
      <p class="m-0">Charts temporarily disabled for debugging.</p>
    </div>
    <div class="cardWithShadow p-16" tourAnchor="dash-schedule">
      <h4 class="m-0">Schedule and planning</h4>
      <p class="m-0">Charts temporarily disabled for debugging.</p>
    </div>
  </div>
  <div class="col-lg-4 d-flex m-b-30" style="flex-direction: column;">
    <app-visit-usa style="flex-grow: 1;"></app-visit-usa>
  </div>
</div>