<mat-sidenav-container class="mainWrapper">
  <mat-sidenav-content>
    <!-- ------------------------------------------------------------------
    Header
    ------------------------------------------------------------------ -->
    <app-header [filterNavRight]="filterNavRight"></app-header>

    <!-- ------------------------------------------------------------------
   End Header
    ------------------------------------------------------------------ -->

    <!-- ------------------------------------------------------------------
    Banner
    ------------------------------------------------------------------ -->
    <div class="overflow-hidden banner-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-11">
            <div class="text-center">
              <h1 class="banner-title m-0 f-w-700">
                Close More Deals With Remote Help That Works<br />
              </h1>
              <p class="f-s-18 p-y-24 m-t-12 m-0 banner-subtitle">
                Real estate professionals use Inimble to streamline
                transactions, manage leads, and keep clients happy—without
                increasing headcount.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ------------------------------------------------------------------
    End Banner
    ------------------------------------------------------------------ -->
    <div class="bg-white">
      <div class="container">
        <div class="rounded p-32 position-relative">
          <div class="row justify-content-center align-items-center">
            <div class="col-lg-8 text-center m-auto">
              <h3
                class="m-t-0 section-title2 m-b-16 banner-title"
                style="line-height: 1.1"
              >
                What We Offer
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Legal-ready Section -->
    <div class="spacer bg-white">
      <div class="container">
        <div class="row m-t-40 justify-content-center align-items-stretch">
          <div
            class="col-md-5 m-b-24 d-flex flex-column justify-content-center"
          >
            <div class="h-100 p-40 bg-white">
              <ul class="list-unstyled f-s-18 m-0 w-100">
                <li class="d-flex align-items-center m-b-20">
                  <i-tabler
                    name="calendar"
                    class="text-primary icon-24 m-r-12"
                  ></i-tabler>
                  Admin assistants for CRM updates, client follow-up, and
                  calendar syncing
                </li>
                <li class="d-flex align-items-center m-b-20">
                  <i-tabler
                    name="home-move"
                    class="text-primary icon-24 m-r-12"
                  ></i-tabler>
                  Virtual transaction coordinators to manage showings and
                  paperwork
                </li>
                <li class="d-flex align-items-center m-b-20">
                  <i-tabler
                    name="plug-connected"
                    class="text-primary icon-24 m-r-12"
                  ></i-tabler>
                  Integration-ready with Google Calendar, DocuSign, and more
                </li>
                <li class="d-flex align-items-center m-b-20">
                  <i-tabler
                    name="wallet"
                    class="text-primary icon-24 m-r-12"
                  ></i-tabler>
                  Flat-rate pricing, easy onboarding, and all-day support
                </li>
                <li class="d-flex align-items-center m-b-20">
                  <i-tabler
                    name="chart-dots"
                    class="text-primary icon-24 m-r-12"
                  ></i-tabler>
                  Built-in chat, task management, and time tracking keep your
                  team on point—wherever they work.
                </li>
              </ul>
            </div>
          </div>
          <div
            class="col-md-1 d-none d-md-flex align-items-center justify-content-center"
          ></div>
          <div
            class="col-md-6 m-t-md-0 m-t-32 m-b-24 d-flex flex-column justify-content-center"
          >
            <div class="h-100 p-40 bg-white">
              <img
                src="assets/images/landingpage/background/c2a.png"
                alt="img"
                width="596"
                class="c2a-img d-none d-lg-flex"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-white">
      <div class="container">
        <div class="row m-t-40 justify-content-center">
          <div class="col-md-6 col-lg-4 m-b-24">
            <mat-card
              class="cardWithShadow h-100 text-center p-y-32 hover-card"
            >
              <span
                class="icon-50 bg-light-primary rounded d-flex align-items-center justify-content-center m-auto m-b-16"
              >
                <i-tabler name="check" class="text-primary icon-30"></i-tabler>
              </span>
              <h5 class="f-s-18 f-w-600 m-b-8 m-t-16">Save time.</h5>
            </mat-card>
          </div>
          <div class="col-md-6 col-lg-4 m-b-24">
            <mat-card
              class="cardWithShadow h-100 text-center p-y-32 hover-card"
            >
              <span
                class="icon-50 bg-light-primary rounded d-flex align-items-center justify-content-center m-auto m-b-16"
              >
                <i-tabler name="check" class="text-primary icon-30"></i-tabler>
              </span>
              <h5 class="f-s-18 f-w-600 m-b-8 m-t-16">Reduce costs.</h5>
            </mat-card>
          </div>
          <div class="col-md-6 col-lg-4 m-b-24">
            <mat-card
              class="cardWithShadow h-100 text-center p-y-32 hover-card"
            >
              <span
                class="icon-50 bg-light-primary rounded d-flex align-items-center justify-content-center m-auto m-b-16"
              >
                <i-tabler name="check" class="text-primary icon-30"></i-tabler>
              </span>
              <h5 class="f-s-18 f-w-600 m-b-8 m-t-16">
                Focus on growing your business
              </h5>
            </mat-card>
          </div>
        </div>
      </div>
    </div>

    <div class="spacer">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 col-sm-8">
            <h2 class="section-title text-center m-t-16 f-w-700">
              Why Businesses Love Inimble:
            </h2>
          </div>
        </div>

        <!-- features -->
        <div class="row m-t-24">
          @for(feature of features; track feature.title) {
          <div class="col-sm-6 col-lg-3">
            <mat-card class="cardWithShadow">
              <mat-card-content>
                <span
                  class="icon-50 bg-light-{{
                    feature.color
                  }} rounded d-flex align-items-center justify-content-center"
                >
                  <i-tabler
                    [name]="feature.icon"
                    class="text-{{ feature.color }} icon-30"
                  ></i-tabler>
                </span>
                <h6 class="m-0 f-s-18 f-w-600 m-b-8 m-t-24">
                  {{ feature.title }}
                </h6>
                <span class="f-s-14 m-b-24 d-block lh-base">{{
                  feature.subtext
                }}</span>
              </mat-card-content>
            </mat-card>
          </div>
          }
        </div>
        <span class="d-block text-center f-w-500 f-s-16"
          >Stop stitching together freelancers and tools. Start working
          smarter—with one complete platform.</span
        >
      </div>
    </div>

    <div class="bg-white">
      <div class="container spacer">
        <div class="rounded p-32 position-relative">
          <div class="row justify-content-center align-items-center">
            <div class="col-lg-8 text-center m-auto">
              <h3
                class="m-t-0 section-title2 m-b-32 banner-title"
                style="line-height: 1.1"
              >
                Built for Every Stage of Growth
              </h3>
              <ul
                class="industry-list industry-list-light m-b-24 d-inline-block text-start"
              >
                <li>
                  <i-tabler
                    name="user"
                    class="industry-list-icon m-b-6"
                  ></i-tabler>
                  <span
                    ><b>Solo Professionals:</b> Get the support you need to
                    scale.</span
                  >
                </li>
                <li>
                  <i-tabler
                    name="users"
                    class="industry-list-icon m-b-6"
                  ></i-tabler>
                  <span
                    ><b>Small Businesses:</b> Simplify hiring and
                    operations.</span
                  >
                </li>
                <li>
                  <i-tabler
                    name="building"
                    class="industry-list-icon m-b-6"
                  ></i-tabler>
                  <span
                    ><b>Mid-Size Teams:</b> Collaborate and grow with
                    structure.</span
                  >
                </li>
                <li>
                  <i-tabler
                    name="building-skyscraper"
                    class="industry-list-icon m-b-6"
                  ></i-tabler>
                  <span
                    ><b>Enterprise Firms:</b> Integrate systems and manage
                    complexity.</span
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="spacer bg-white">
      <div class="container">
        <h2 class="section-title text-center m-t-16 f-w-700">
          One Platform. All the Tools. No Chaos.
        </h2>
        <div class="row m-t-40 justify-content-center">
          <div class="col-md-6 col-lg-4 m-b-24">
            <mat-card
              class="cardWithShadow h-100 text-center p-y-32 hover-card"
            >
              <span
                class="icon-50 bg-light-primary rounded d-flex align-items-center justify-content-center m-auto m-b-16"
              >
                <i-tabler
                  name="layout-dashboard"
                  class="text-primary icon-30"
                ></i-tabler>
              </span>
              <h5 class="f-s-18 f-w-600 m-b-8 m-t-16">All-in-one dashboard</h5>
            </mat-card>
          </div>
          <div class="col-md-6 col-lg-4 m-b-24">
            <mat-card
              class="cardWithShadow h-100 text-center p-y-32 hover-card"
            >
              <span
                class="icon-50 bg-light-success rounded d-flex align-items-center justify-content-center m-auto m-b-16"
              >
                <i-tabler name="clock" class="text-success icon-30"></i-tabler>
              </span>
              <h5 class="f-s-18 f-w-600 m-b-8 m-t-16">Time & task tracking</h5>
            </mat-card>
          </div>
          <div class="col-md-6 col-lg-4 m-b-24">
            <mat-card
              class="cardWithShadow h-100 text-center p-y-32 hover-card"
            >
              <span
                class="icon-50 bg-light-warning rounded d-flex align-items-center justify-content-center m-auto m-b-16"
              >
                <i-tabler
                  name="headset"
                  class="text-warning icon-30"
                ></i-tabler>
              </span>
              <h5 class="f-s-18 f-w-600 m-b-8 m-t-16">
                IT and HR support included
              </h5>
            </mat-card>
          </div>
          <div class="col-md-6 col-lg-4 m-b-24">
            <mat-card
              class="cardWithShadow h-100 text-center p-y-32 hover-card"
            >
              <span
                class="icon-50 bg-light-info rounded d-flex align-items-center justify-content-center m-auto m-b-16"
              >
                <i-tabler name="users" class="text-info icon-30"></i-tabler>
              </span>
              <h5 class="f-s-18 f-w-600 m-b-8 m-t-16">
                Flexible staffing tailored to your business
              </h5>
            </mat-card>
          </div>
          <div class="col-md-6 col-lg-4 m-b-24">
            <mat-card
              class="cardWithShadow h-100 text-center p-y-32 hover-card"
            >
              <span
                class="icon-50 bg-light-secondary rounded d-flex align-items-center justify-content-center m-auto m-b-16"
              >
                <i-tabler name="tool" class="text-primary icon-30"></i-tabler>
              </span>
              <h5 class="f-s-18 f-w-600 m-b-8 m-t-16">
                Remote IT onboarding & ongoing support
              </h5>
            </mat-card>
          </div>
          <div class="col-md-6 col-lg-4 m-b-24">
            <mat-card
              class="cardWithShadow h-100 text-center p-y-32 hover-card"
            >
              <span
                class="icon-50 bg-light-success rounded d-flex align-items-center justify-content-center m-auto m-b-16"
              >
                <i-tabler
                  name="brand-teams"
                  class="text-success icon-30"
                ></i-tabler>
              </span>
              <h5 class="f-s-18 f-w-600 m-b-8 m-t-16">Productivity Tools</h5>
            </mat-card>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-white">
      <div class="container spacer">
        <div class="bg-green rounded p-32 position-relative">
          <div class="row justify-content-between">
            <div class="col-lg-6">
              <h3
                class="m-t-0 section-title2 text-white m-b-8"
                style="line-height: 1.1"
              >
                Let’s Make Remote Hiring Easy
              </h3>
              <span class="f-s-16 m-b-30 p-b-10 m-t-8 d-block text-white"
                >Everything you need to hire and run your team — in one place.
                No agencies. No fluff. Just results.</span
              >
              <div class="hstack">
                <a
                  mat-flat-button
                  href="https://meetings.hubspot.com/tretsky/inimble-intro-meeting"
                  color="primary"
                  class="btn-custom sm"
                  style="
                    background-color: #c4e57f;
                    font-weight: 800;
                    color: #818181;
                  "
                  >Try Inimble for free</a
                >
                <a
                  mat-stroked-button
                  href="https://support.wrappixel.com/"
                  color="primary"
                  class="btn-custom sm border-white text-white"
                  >Call us now</a
                >
                <a
                  mat-stroked-button
                  href="https://support.wrappixel.com/"
                  color="primary"
                  class="btn-custom sm border-white text-white"
                  >More about our talent match</a
                >
              </div>
            </div>
            <div class="col-lg-5 text-right">
              <!-- <img
                src="assets/images/landingpage/background/c2a.png"
                alt="img"
                width="596"
                class="c2a-img d-none d-lg-flex"
              /> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container spacer">
      <div class="row justify-content-center spacer">
        <div class="col-lg-6 col-sm-8">
          <!-- <span class="d-block text-center f-w-500 f-s-16"
              >Almost Covered Everything</span
            > -->
          <h2 class="section-title text-center m-t-16 f-w-700">Resources</h2>
        </div>
      </div>
      <app-blogs></app-blogs>
    </div>
    <!-- ------------------------------------------------------------------
    End Testimonial
    ------------------------------------------------------------------ -->

    <!-- Contact Form-->
    <app-intake-form></app-intake-form>

    <!-- ------------------------------------------------------------------
    footer
    ------------------------------------------------------------------ -->

    <app-footer></app-footer>

    <!-- ------------------------------------------------------------------
    end footer
    ------------------------------------------------------------------ -->
  </mat-sidenav-content>

  <!-- ------------------------------------------------------------------
    Mobile Sidebar
    ------------------------------------------------------------------ -->
  <mat-sidenav
    #filterNavRight
    mode="over"
    position="end"
    class="filter-sidebar"
  >
    <div>
      <div class="branding">
        <app-branding></app-branding>
      </div>

      <mat-accordion>
        <mat-expansion-panel class="shadow-none">
          <mat-expansion-panel-header>
            <mat-panel-title class="f-s-16 f-w-500"> Demos </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <h5 class="f-s-18 mat-subtitle-1 f-w-600">Different Demos</h5>
            <span>Included with the package</span>
            <div class="row m-t-24">
              @for(demo of demos; track demo.url) {
              <div class="col-lg-3 m-b-16">
                <div>
                  <div class="img-overlay rounded">
                    <img
                      [src]="demo.imgSrc"
                      alt="demos"
                      class="rounded w-100"
                    />
                    <div class="overlay-content">
                      <a href="{{ demo.url }}" mat-flat-button color="primary">
                        Live preview
                      </a>
                    </div>
                  </div>
                  <span class="f-s-14 d-block text-center m-t-8">{{
                    demo.name
                  }}</span>
                </div>
              </div>
              }
            </div>
            <!-- apps -->
            <h5 class="f-s-18 mat-subtitle-1 f-w-600 m-t-24">Different Apps</h5>
            <div class="row m-t-24">
              @for(app of appdemos; track app.name) {
              <div class="col-lg-3 m-t-16">
                <div>
                  <div class="img-overlay rounded">
                    <img [src]="app.imgSrc" alt="apps" class="rounded w-100" />
                    <div class="overlay-content">
                      <a href="{{ app.url }}" mat-flat-button color="primary">
                        Live preview
                      </a>
                    </div>
                  </div>
                  <span class="f-s-14 d-block text-center m-t-8">{{
                    app.name
                  }}</span>
                </div>
              </div>
              }
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="shadow-none">
          <mat-expansion-panel-header>
            <mat-panel-title class="f-s-16 f-w-500"> Pages </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <div class="row">
              @for(appdd of apps; track appdd.title) {
              <div class="col-12 text-hover-primary">
                <a
                  [routerLink]="[appdd.link]"
                  class="d-flex align-items-center text-decoration-none m-b-24"
                >
                  <button
                    mat-mini-fab
                    class="text-primary bg-light-primary shadow-none rounded"
                  >
                    <img [src]="appdd.img" width="20" />
                  </button>

                  <div class="m-l-16">
                    <h5
                      class="f-s-14 f-w-600 m-0 textprimary mat-body-1 hover-text"
                    >
                      {{ appdd.title }}
                    </h5>
                    <span class="mat-body-1 f-s-12">{{ appdd.subtitle }}</span>
                  </div>
                </a>
              </div>
              }
            </div>
            <h4 class="f-s-18 f-w-600 mat-subtitle-1 m-b-16">Quick Links</h4>
            @for(quicklink of quicklinks; track quicklink.title) {
            <div class="text-hover-primary">
              <a
                [routerLink]="['quicklink.link']"
                class="hover-text text-decoration-none mat-body-1 f-w-600 d-block p-y-8"
                >{{ quicklink.title }}</a
              >
            </div>
            }
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <div class="p-x-16">
        <a
          href="
            https://demos.wrappixel.com/premium-admin-templates/angular/spike-angular/docs/index.html
          "
          class="d-flex align-items-center text-decoration-none mat-body-1 p-y-16"
        >
          <span class="f-s-15 f-w-500 m-l-8">Documentation</span>
        </a>
        <a
          [routerLink]="['https://support.wrappixel.com/']"
          class="d-flex align-items-center text-decoration-none mat-body-1 p-y-16"
        >
          <span class="f-s-15 f-w-500 m-l-8">Support</span>
        </a>
        <a mat-flat-button color="primary" class="w-100" [routerLink]="['/']"
          >Buy Now</a
        >
      </div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
