.position-relative {
  position: relative;
}

.donut-center-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  pointer-events: none; 
}

.donut-center-label h2 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  color: #92b46c; 
}