::ng-deep {
  .table-responsive td, .table-responsive mat-cell {
    white-space: normal!important;
    padding: 16px;
    }
}

.actions-container {
  position: relative;
  
  .actions-btn {
    position: absolute;
    top: 10px;
  }
}