html.blue_theme {
  --mat-sys-primary: #92b46c;
  --mat-sys-primary-fixed-dim: rgba(169, 211, 120, 0.5);
  --mat-sys-secondary: rgba(221, 221, 221, 0.3);
  --mat-sys-secondary-fixed-dim: rgb(112, 122, 130, 0.15);
}
