#candidate-view {
  font-size: 12px;
  margin-bottom: 2rem;

  h4 {
    margin-bottom: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
  }

  .table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 2rem;

    th, td {
      border: 1px solid var(--mat-sys-on-background);
      padding: 7px;
      font-size: 13px;
      vertical-align: middle;
      background-color: var(--mat-sys-surface);
    }

    th {
      background: var(--mat-sys-surface-bright);
      font-weight: bold;
      text-align: left;
    }

    td {
      font-weight: normal;
    }

    tr td:first-child {
      font-weight: 600;
      width: 25%;
      background-color: --mat-sys-outline;
    }

    input[matInput], textarea[matInput], mat-select {
      width: 100%;
      box-sizing: border-box;
      padding: 5px 6px;
      font-size: 13px;
      border: 1px solid var(--mdc-outlined-text-field-hover-outline-color);
      border-radius: 10px;
      font-family: inherit;
      &:focus {
        outline: none;
        border-color: #92b46c;
        box-shadow: 0 0 2px #92b46c;
      }
    }

    div[ngFor] input[type="number"] {
      width: 80px;
      padding: 3px 5px;
      font-size: 13px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
  }

  a {
    color: #92b46c;
    text-decoration: underline;
    word-break: break-word;
  }

  .mat-flat-button {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
  }

  .d-flex.justify-between.align-center {
    justify-content: space-between !important;
    gap: 0;
  }
}

mat-card.cardWithShadow {
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
  margin-bottom: 2rem;
  padding: 1rem;
}

.header-row {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  position: relative;
  margin-bottom: 1rem;
}

.header-title {
  text-align: center;
  margin: 0;
}

.action-buttons {
  justify-self: end;
  display: flex;
  gap: 0.5rem;
}